Required libraries:
    # Add python libraries. 
#Drivers for clickhouse database

conda install -c conda-forge clickhouse-driver

conda install -c conda-forge clickhouse-sqlalchemy

#pandas to clickhouse connector

pip install pandahouse

#Tinkoff's API implementation in python
pip install -i https://test.pypi.org/simple/ --extra-index-url=https://pypi.org/simple/ tinkoff-invest-openapi-client

In [1]:

from datetime import datetime, timedelta
from pytz import timezone
import pandas as pd
import time
import  ../src/data/CassandraHelper
import ../src/data/tinkoffAPIHelper

{'payload': {}, 'status': 'Ok', 'tracking_id': 'b1a5696aad3b899a'}

In [3]:
tick=get_instruments(instrument='stock')

In [4]:
tick

,figi,ticker,isin,min_price_increment,lot,currency,name,type
0,BBG000HLJ7M4,IDCC,US45867G1013,0.01,1,USD,InterDigItal Inc,Stock
1,BBG002293PJ4,RH,US74967X1037,0.01,1,USD,RH,Stock
2,BBG000CTQBF3,SBUX,US8552441094,0.01,1,USD,Starbucks Corporation,Stock
3,BBG000BPL8G3,MTSC,US5537771033,0.01,1,USD,MTS Systems Corp,Stock
4,BBG000BH0FR6,SGEN,US8125781026,0.01,1,USD,Seattle Genetics Inc,Stock
...,...,...,...,...,...,...,...,...
1280,BBG00K7T3037,BILI,US0900401060,0.01,1,USD,Bilibili Inc,Stock
1281,BBG000BG1DH3,COHR,US1924791031,0.01,1,USD,Coherent Inc,Stock
1282,BBG000BV4DR6,TER,US8807701029,0.01,1,USD,Teradyne Inc,Stock
1283,BBG000PSXT64,CPS,US21676P1030,0.01,1,USD,Cooper-Standard Holdings Inc,Stock
1284,BBG005BT60Y8,NVEE,US62945V1098,0.01,1,USD,NV5 Global Inc,Stock

In [5]:
bond=get_instruments(instrument='bond')

In [6]:
bond

,figi,ticker,isin,min_price_increment,lot,currency,name,type
0,BBG00844BD08,RU000A0JU898,RU000A0JU898,0.1,1,RUB,МКБ выпуск 9,Bond
1,BBG00R05JT04,RU000A1013Y3,RU000A1013Y3,0.1,1,RUB,Черкизово выпуск 2,Bond
2,BBG00PNLY692,RU000A100DC4,RU000A100DC4,0.1,1,RUB,МСБ-Лизинг 002P выпуск 2,Bond
3,BBG00KHGQP89,RU000A0ZZ1F6,RU000A0ZZ1F6,0.1,1,RUB,КарМани выпуск 2,Bond
4,BBG00JYHHXN7,RU000A0ZYR18,RU000A0ZYR18,0.1,1,RUB,Башкирская содовая компания выпуск 1,Bond
...,...,...,...,...,...,...,...,...
378,BBG00QYKX940,RU000A1012K4,RU000A1012K4,0.1,1,RUB,СЭЗ им. Серго Орджоникидзе,Bond
379,BBG00BQZW6R1,RU000A0JW1K9,RU000A0JW1K9,0.1,1,RUB,Томская область выпуск 55,Bond
380,BBG00PVVTDW6,RU000A100K64,RU000A100K64,0.1,1,RUB,Флай Плэнинг БО-П2,Bond
381,BBG00PC4M4X3,RU000A100DG5,RU000A100DG5,0.1,1,RUB,Европлан выпуск 6,Bond
382,BBG00GK3W839,RU000A0JXQ44,RU000A0JXQ44,0.1,1,RUB,РЖД 001Р выпуск 2,Bond

In [7]:
etf=get_instruments(instrument='etf')

In [8]:
etf

,figi,ticker,isin,min_price_increment,lot,currency,name,type
0,BBG005DXDPK9,FXGD,IE00B8XB7377,0.2000,1,RUB,Золото,Etf
1,BBG00M8C8Y03,FXKZ,IE00BG0C3K84,0.1000,1,RUB,Акции казахстанских компаний,Etf
2,BBG005VKB7D7,FXCN,IE00BD3QFB18,2.0000,1,RUB,Акции китайских компаний,Etf
3,BBG000000000,TUSD,RU000A1011S9,0.0001,1,USD,Вечный портфель USD,Etf
4,BBG000000002,TEUR,RU000A1011T7,0.0001,1,EUR,Вечный портфель EUR,Etf
5,BBG000000001,TRUR,RU000A1011U5,0.0050,1,RUB,Вечный портфель RUB,Etf
6,BBG00KMXH2C2,RUSB,LU1483649825,0.5000,1,RUB,Долларовые еврооблигации российских эмитентов,Etf
7,BBG005HLSZ23,FXUS,IE00BD3QHZ91,1.0000,1,RUB,Акции американских компаний,Etf
8,BBG0073DLHS1,FXRL,IE00BQ1Y6480,0.5000,1,RUB,Акции российских компаний,Etf
9,BBG005N1KZX4,FXRU,IE00BD5FH213,0.1000,1,RUB,Еврооблигации российских компаний (USD),Etf
10,BBG004HNZFH2,FXRB,IE00B7L7CP77,1.0000,1,RUB,Еврооблигации российских компаний (RUB),Etf
11,BBG00MF4JRQ8,VTBB,RU000A1002S8,0.1000,1,RUB,ВТБ VTBB,Etf
12,BBG00R980XY3,FXRW,IE00BK224M36,0.0001,1,RUB,FinEx FXRW,Etf
13,BBG00M0C8YM7,SBMX,RU000A0ZZH92,0.5000,1,RUB,Сбербанк SBMX,Etf
14,BBG005HM5979,FXJP,IE00BD3QJ310,1.0000,1,RUB,Акции японских компаний,Etf
15,BBG006GYFHV6,FXMM,IE00BL3DYX33,0.1000,1,RUB,Казначейские облигации США,Etf
16,BBG00KMXFK61,RUSE,LU1483649312,0.5000,1,RUB,"Акции российских компаний, входящие в индекс РТС",Etf
17,BBG00R9805F5,FXWO,IE00BK224L29,0.0001,1,RUB,FinEx FXWO,Etf
18,BBG005H7MXN2,FXDE,IE00BD3QJN10,0.5000,1,RUB,Акции немецких компаний,Etf
19,BBG00NNQMD85,AKNX,RU000A0ZZTQ4,0.0100,1,USD,Технологии 100 БПИФ,Etf
20,BBG005HLTYH9,FXIT,IE00BD3QJ757,1.0000,1,RUB,Акции компаний IT-сектора США,Etf
21,BBG005HM6BL7,FXAU,IE00BD3QF110,1.0000,1,RUB,Акции австралийских компаний,Etf
22,BBG00NRFC2X2,FXTB,IE00BL3DYW26,0.1000,1,RUB,Казначейские облигации США (USD),Etf
23,BBG005HLK5V5,FXUK,IE00BD3QHV53,1.0000,1,RUB,Акции английских компаний,Etf

In [37]:
from tqdm import tqdm
def get_detailed_data(data,_from=None,to=None):
    list_df=[]
    for figi in tqdm(data.figi.unique()):
        print("retrieving figi: "+figi+ " ticker: "+data[data.figi==figi].ticker.values)
        
        df=detailed_history(figi=figi,
                                                            _from=_from,
                                                            to=to,
                                                            interval="1min")
        time.sleep(3)
        list_df.append(df)
        print(f'Len list of df {len(list_df)}')
    
    df_merge = pd.concat(list_df)
    return df_merge

In [31]:
from datetime import datetime
days_span=90
startTime = datetime.now() - timedelta(days=days_span)
endTime = datetime.now()

In [ ]:
tick_data=get_detailed_data(tick,_from=startTime,to=endTime)

In [38]:
etf_data=get_detailed_data(etf,_from=startTime,to=endTime)

  0%|                                                                                           | 0/24 [00:00<?, ?it/s]

['retrieving figi: BBG005DXDPK9 ticker: FXGD']
Concat frame 0. Dataframe with data (row,col) : (521, 8).
Concat frame 1. Dataframe with data (row,col) : (521, 8).
Concat frame 2. Dataframe with data (row,col) : (521, 8).
Concat frame 3. Dataframe with data (row,col) : (1043, 8).
Concat frame 4. Dataframe with data (row,col) : (1566, 8).
Concat frame 5. Dataframe with data (row,col) : (2088, 8).
Concat frame 6. Dataframe with data (row,col) : (2611, 8).
Concat frame 7. Dataframe with data (row,col) : (3134, 8).
Concat frame 8. Dataframe with data (row,col) : (3134, 8).
Concat frame 9. Dataframe with data (row,col) : (3134, 8).
Concat frame 10. Dataframe with data (row,col) : (3656, 8).
Concat frame 11. Dataframe with data (row,col) : (4175, 8).
Concat frame 12. Dataframe with data (row,col) : (4700, 8).
Concat frame 13. Dataframe with data (row,col) : (5223, 8).
Concat frame 14. Dataframe with data (row,col) : (5748, 8).
Concat frame 15. Dataframe with data (row,col) : (5748, 8).
Concat frame 16. Dataframe with data (row,col) : (5748, 8).
Concat frame 17. Dataframe with data (row,col) : (6273, 8).
Concat frame 18. Dataframe with data (row,col) : (6798, 8).
Concat frame 19. Dataframe with data (row,col) : (7323, 8).
Concat frame 20. Dataframe with data (row,col) : (7847, 8).
Concat frame 21. Dataframe with data (row,col) : (7847, 8).
Concat frame 22. Dataframe with data (row,col) : (7847, 8).
Concat frame 23. Dataframe with data (row,col) : (7847, 8).
Concat frame 24. Dataframe with data (row,col) : (8372, 8).
Concat frame 25. Dataframe with data (row,col) : (8893, 8).
Concat frame 26. Dataframe with data (row,col) : (9398, 8).
Concat frame 27. Dataframe with data (row,col) : (9909, 8).
Concat frame 28. Dataframe with data (row,col) : (10431, 8).
Concat frame 29. Dataframe with data (row,col) : (10431, 8).
Concat frame 30. Dataframe with data (row,col) : (10431, 8).
Concat frame 31. Dataframe with data (row,col) : (10956, 8).
Concat frame 32. Dataframe with data (row,col) : (11481, 8).
Concat frame 33. Dataframe with data (row,col) : (12004, 8).
Concat frame 34. Dataframe with data (row,col) : (12530, 8).
Concat frame 35. Dataframe with data (row,col) : (12530, 8).
Concat frame 36. Dataframe with data (row,col) : (12530, 8).
Concat frame 37. Dataframe with data (row,col) : (12530, 8).
Concat frame 38. Dataframe with data (row,col) : (13052, 8).
Concat frame 39. Dataframe with data (row,col) : (13553, 8).
Concat frame 40. Dataframe with data (row,col) : (14058, 8).
Concat frame 41. Dataframe with data (row,col) : (14555, 8).
Concat frame 42. Dataframe with data (row,col) : (15040, 8).
Concat frame 43. Dataframe with data (row,col) : (15040, 8).
Concat frame 44. Dataframe with data (row,col) : (15040, 8).
Concat frame 45. Dataframe with data (row,col) : (15535, 8).
Concat frame 46. Dataframe with data (row,col) : (16022, 8).
Concat frame 47. Dataframe with data (row,col) : (16519, 8).
Concat frame 48. Dataframe with data (row,col) : (17023, 8).
Concat frame 49. Dataframe with data (row,col) : (17532, 8).
Concat frame 50. Dataframe with data (row,col) : (17532, 8).
Concat frame 51. Dataframe with data (row,col) : (17532, 8).
Concat frame 52. Dataframe with data (row,col) : (18039, 8).
Concat frame 53. Dataframe with data (row,col) : (18551, 8).
Concat frame 54. Dataframe with data (row,col) : (19075, 8).
Concat frame 55. Dataframe with data (row,col) : (19587, 8).
Concat frame 56. Dataframe with data (row,col) : (20108, 8).
Concat frame 57. Dataframe with data (row,col) : (20108, 8).
Concat frame 58. Dataframe with data (row,col) : (20108, 8).
Concat frame 59. Dataframe with data (row,col) : (20615, 8).
Concat frame 60. Dataframe with data (row,col) : (21124, 8).
Concat frame 61. Dataframe with data (row,col) : (21611, 8).
Concat frame 62. Dataframe with data (row,col) : (22123, 8).
Concat frame 63. Dataframe with data (row,col) : (22647, 8).
Concat frame 64. Dataframe with data (row,col) : (22647, 8).
Concat frame 65. Dataframe with data (row,col) : (22647, 8).
Concat frame 66. Dataframe with data (row,col) : (23141, 8).
Concat frame 67. Dataframe with data (row,col) : (23609, 8).
Concat frame 68. Dataframe with data (row,col) : (24082, 8).
Concat frame 69. Dataframe with data (row,col) : (24574, 8).
Concat frame 70. Dataframe with data (row,col) : (25076, 8).
Concat frame 71. Dataframe with data (row,col) : (25076, 8).
Concat frame 72. Dataframe with data (row,col) : (25076, 8).
Concat frame 73. Dataframe with data (row,col) : (25577, 8).
Concat frame 74. Dataframe with data (row,col) : (26081, 8).
Concat frame 75. Dataframe with data (row,col) : (26578, 8).
Concat frame 76. Dataframe with data (row,col) : (27059, 8).
Concat frame 77. Dataframe with data (row,col) : (27567, 8).
Concat frame 78. Dataframe with data (row,col) : (27567, 8).
Concat frame 79. Dataframe with data (row,col) : (27567, 8).
Concat frame 80. Dataframe with data (row,col) : (28057, 8).
Concat frame 81. Dataframe with data (row,col) : (28565, 8).
Concat frame 82. Dataframe with data (row,col) : (29080, 8).
Concat frame 83. Dataframe with data (row,col) : (29080, 8).
Concat frame 84. Dataframe with data (row,col) : (29592, 8).
Concat frame 85. Dataframe with data (row,col) : (29592, 8).
Concat frame 86. Dataframe with data (row,col) : (29592, 8).
Concat frame 87. Dataframe with data (row,col) : (30086, 8).
Concat frame 88. Dataframe with data (row,col) : (30086, 8).
Concat frame 89. Dataframe with data (row,col) : (30086, 8).

  4%|███▍                                                                               | 1/24 [00:16<06:30, 16.98s/it]

Len list of df 1
['retrieving figi: BBG00M8C8Y03 ticker: FXKZ']
Concat frame 0. Dataframe with data (row,col) : (240, 8).
Concat frame 1. Dataframe with data (row,col) : (240, 8).
Concat frame 2. Dataframe with data (row,col) : (240, 8).
Concat frame 3. Dataframe with data (row,col) : (420, 8).
Concat frame 4. Dataframe with data (row,col) : (594, 8).
Concat frame 5. Dataframe with data (row,col) : (784, 8).
Concat frame 6. Dataframe with data (row,col) : (985, 8).
Concat frame 7. Dataframe with data (row,col) : (1182, 8).
Concat frame 8. Dataframe with data (row,col) : (1182, 8).
Concat frame 9. Dataframe with data (row,col) : (1182, 8).
Concat frame 10. Dataframe with data (row,col) : (1390, 8).
Concat frame 11. Dataframe with data (row,col) : (1596, 8).
Concat frame 12. Dataframe with data (row,col) : (1834, 8).
Concat frame 13. Dataframe with data (row,col) : (2063, 8).
Concat frame 14. Dataframe with data (row,col) : (2310, 8).
Concat frame 15. Dataframe with data (row,col) : (2310, 8).
Concat frame 16. Dataframe with data (row,col) : (2310, 8).
Concat frame 17. Dataframe with data (row,col) : (2531, 8).
Concat frame 18. Dataframe with data (row,col) : (2782, 8).
Concat frame 19. Dataframe with data (row,col) : (2971, 8).
Concat frame 20. Dataframe with data (row,col) : (3236, 8).
Concat frame 21. Dataframe with data (row,col) : (3236, 8).
Concat frame 22. Dataframe with data (row,col) : (3236, 8).
Concat frame 23. Dataframe with data (row,col) : (3236, 8).
Concat frame 24. Dataframe with data (row,col) : (3449, 8).
Concat frame 25. Dataframe with data (row,col) : (3617, 8).
Concat frame 26. Dataframe with data (row,col) : (3737, 8).
Concat frame 27. Dataframe with data (row,col) : (3920, 8).
Concat frame 28. Dataframe with data (row,col) : (4083, 8).
Concat frame 29. Dataframe with data (row,col) : (4083, 8).
Concat frame 30. Dataframe with data (row,col) : (4083, 8).
Concat frame 31. Dataframe with data (row,col) : (4283, 8).
Concat frame 32. Dataframe with data (row,col) : (4450, 8).
Concat frame 33. Dataframe with data (row,col) : (4688, 8).
Concat frame 34. Dataframe with data (row,col) : (4874, 8).
Concat frame 35. Dataframe with data (row,col) : (4874, 8).
Concat frame 36. Dataframe with data (row,col) : (4874, 8).
Concat frame 37. Dataframe with data (row,col) : (4874, 8).
Concat frame 38. Dataframe with data (row,col) : (5105, 8).
Concat frame 39. Dataframe with data (row,col) : (5378, 8).
Concat frame 40. Dataframe with data (row,col) : (5557, 8).
Concat frame 41. Dataframe with data (row,col) : (5805, 8).
Concat frame 42. Dataframe with data (row,col) : (6001, 8).
Concat frame 43. Dataframe with data (row,col) : (6001, 8).
Concat frame 44. Dataframe with data (row,col) : (6001, 8).
Concat frame 45. Dataframe with data (row,col) : (6188, 8).
Concat frame 46. Dataframe with data (row,col) : (6370, 8).
Concat frame 47. Dataframe with data (row,col) : (6541, 8).
Concat frame 48. Dataframe with data (row,col) : (6726, 8).
Concat frame 49. Dataframe with data (row,col) : (6912, 8).
Concat frame 50. Dataframe with data (row,col) : (6912, 8).
Concat frame 51. Dataframe with data (row,col) : (6912, 8).
Concat frame 52. Dataframe with data (row,col) : (7147, 8).
Concat frame 53. Dataframe with data (row,col) : (7338, 8).
Concat frame 54. Dataframe with data (row,col) : (7500, 8).
Concat frame 55. Dataframe with data (row,col) : (7689, 8).
Concat frame 56. Dataframe with data (row,col) : (7844, 8).
Concat frame 57. Dataframe with data (row,col) : (7844, 8).
Concat frame 58. Dataframe with data (row,col) : (7844, 8).
Concat frame 59. Dataframe with data (row,col) : (8016, 8).
Concat frame 60. Dataframe with data (row,col) : (8149, 8).
Concat frame 61. Dataframe with data (row,col) : (8332, 8).
Concat frame 62. Dataframe with data (row,col) : (8511, 8).
Concat frame 63. Dataframe with data (row,col) : (8717, 8).
Concat frame 64. Dataframe with data (row,col) : (8717, 8).
Concat frame 65. Dataframe with data (row,col) : (8717, 8).
Concat frame 66. Dataframe with data (row,col) : (8956, 8).
Concat frame 67. Dataframe with data (row,col) : (9116, 8).
Concat frame 68. Dataframe with data (row,col) : (9330, 8).
Concat frame 69. Dataframe with data (row,col) : (9530, 8).
Concat frame 70. Dataframe with data (row,col) : (9776, 8).
Concat frame 71. Dataframe with data (row,col) : (9776, 8).
Concat frame 72. Dataframe with data (row,col) : (9776, 8).
Concat frame 73. Dataframe with data (row,col) : (9977, 8).
Concat frame 74. Dataframe with data (row,col) : (10189, 8).
Concat frame 75. Dataframe with data (row,col) : (10432, 8).
Concat frame 76. Dataframe with data (row,col) : (10666, 8).
Concat frame 77. Dataframe with data (row,col) : (10929, 8).
Concat frame 78. Dataframe with data (row,col) : (10929, 8).
Concat frame 79. Dataframe with data (row,col) : (10929, 8).
Concat frame 80. Dataframe with data (row,col) : (11102, 8).
Concat frame 81. Dataframe with data (row,col) : (11325, 8).
Concat frame 82. Dataframe with data (row,col) : (11543, 8).
Concat frame 83. Dataframe with data (row,col) : (11543, 8).
Concat frame 84. Dataframe with data (row,col) : (11762, 8).
Concat frame 85. Dataframe with data (row,col) : (11762, 8).
Concat frame 86. Dataframe with data (row,col) : (11762, 8).
Concat frame 87. Dataframe with data (row,col) : (11934, 8).
Concat frame 88. Dataframe with data (row,col) : (11934, 8).
Concat frame 89. Dataframe with data (row,col) : (11934, 8).

  8%|██████▉                                                                            | 2/24 [00:28<05:37, 15.33s/it]

Len list of df 2
['retrieving figi: BBG005VKB7D7 ticker: FXCN']
Concat frame 0. Dataframe with data (row,col) : (462, 8).
Concat frame 1. Dataframe with data (row,col) : (462, 8).
Concat frame 2. Dataframe with data (row,col) : (462, 8).
Concat frame 3. Dataframe with data (row,col) : (849, 8).
Concat frame 4. Dataframe with data (row,col) : (1205, 8).
Concat frame 5. Dataframe with data (row,col) : (1613, 8).
Concat frame 6. Dataframe with data (row,col) : (1973, 8).
Concat frame 7. Dataframe with data (row,col) : (2350, 8).
Concat frame 8. Dataframe with data (row,col) : (2350, 8).
Concat frame 9. Dataframe with data (row,col) : (2350, 8).
Concat frame 10. Dataframe with data (row,col) : (2739, 8).
Concat frame 11. Dataframe with data (row,col) : (3054, 8).
Concat frame 12. Dataframe with data (row,col) : (3363, 8).
Concat frame 13. Dataframe with data (row,col) : (3708, 8).
Concat frame 14. Dataframe with data (row,col) : (4114, 8).
Concat frame 15. Dataframe with data (row,col) : (4114, 8).
Concat frame 16. Dataframe with data (row,col) : (4114, 8).
Concat frame 17. Dataframe with data (row,col) : (4488, 8).
Concat frame 18. Dataframe with data (row,col) : (4880, 8).
Concat frame 19. Dataframe with data (row,col) : (5182, 8).
Concat frame 20. Dataframe with data (row,col) : (5571, 8).
Concat frame 21. Dataframe with data (row,col) : (5571, 8).
Concat frame 22. Dataframe with data (row,col) : (5571, 8).
Concat frame 23. Dataframe with data (row,col) : (5571, 8).
Concat frame 24. Dataframe with data (row,col) : (5860, 8).
Concat frame 25. Dataframe with data (row,col) : (6129, 8).
Concat frame 26. Dataframe with data (row,col) : (6362, 8).
Concat frame 27. Dataframe with data (row,col) : (6633, 8).
Concat frame 28. Dataframe with data (row,col) : (6948, 8).
Concat frame 29. Dataframe with data (row,col) : (6948, 8).
Concat frame 30. Dataframe with data (row,col) : (6948, 8).
Concat frame 31. Dataframe with data (row,col) : (7291, 8).
Concat frame 32. Dataframe with data (row,col) : (7549, 8).
Concat frame 33. Dataframe with data (row,col) : (7841, 8).
Concat frame 34. Dataframe with data (row,col) : (8115, 8).
Concat frame 35. Dataframe with data (row,col) : (8115, 8).
Concat frame 36. Dataframe with data (row,col) : (8115, 8).
Concat frame 37. Dataframe with data (row,col) : (8115, 8).
Concat frame 38. Dataframe with data (row,col) : (8344, 8).
Concat frame 39. Dataframe with data (row,col) : (8588, 8).
Concat frame 40. Dataframe with data (row,col) : (8773, 8).
Concat frame 41. Dataframe with data (row,col) : (9057, 8).
Concat frame 42. Dataframe with data (row,col) : (9323, 8).
Concat frame 43. Dataframe with data (row,col) : (9323, 8).
Concat frame 44. Dataframe with data (row,col) : (9323, 8).
Concat frame 45. Dataframe with data (row,col) : (9599, 8).
Concat frame 46. Dataframe with data (row,col) : (9864, 8).
Concat frame 47. Dataframe with data (row,col) : (10110, 8).
Concat frame 48. Dataframe with data (row,col) : (10403, 8).
Concat frame 49. Dataframe with data (row,col) : (10705, 8).
Concat frame 50. Dataframe with data (row,col) : (10705, 8).
Concat frame 51. Dataframe with data (row,col) : (10705, 8).
Concat frame 52. Dataframe with data (row,col) : (11014, 8).
Concat frame 53. Dataframe with data (row,col) : (11318, 8).
Concat frame 54. Dataframe with data (row,col) : (11668, 8).
Concat frame 55. Dataframe with data (row,col) : (12058, 8).
Concat frame 56. Dataframe with data (row,col) : (12472, 8).
Concat frame 57. Dataframe with data (row,col) : (12472, 8).
Concat frame 58. Dataframe with data (row,col) : (12472, 8).
Concat frame 59. Dataframe with data (row,col) : (12833, 8).
Concat frame 60. Dataframe with data (row,col) : (13211, 8).
Concat frame 61. Dataframe with data (row,col) : (13555, 8).
Concat frame 62. Dataframe with data (row,col) : (13917, 8).
Concat frame 63. Dataframe with data (row,col) : (14373, 8).
Concat frame 64. Dataframe with data (row,col) : (14373, 8).
Concat frame 65. Dataframe with data (row,col) : (14373, 8).
Concat frame 66. Dataframe with data (row,col) : (14641, 8).
Concat frame 67. Dataframe with data (row,col) : (14959, 8).
Concat frame 68. Dataframe with data (row,col) : (15220, 8).
Concat frame 69. Dataframe with data (row,col) : (15542, 8).
Concat frame 70. Dataframe with data (row,col) : (15842, 8).
Concat frame 71. Dataframe with data (row,col) : (15842, 8).
Concat frame 72. Dataframe with data (row,col) : (15842, 8).
Concat frame 73. Dataframe with data (row,col) : (16102, 8).
Concat frame 74. Dataframe with data (row,col) : (16363, 8).
Concat frame 75. Dataframe with data (row,col) : (16597, 8).
Concat frame 76. Dataframe with data (row,col) : (16885, 8).
Concat frame 77. Dataframe with data (row,col) : (17176, 8).
Concat frame 78. Dataframe with data (row,col) : (17176, 8).
Concat frame 79. Dataframe with data (row,col) : (17176, 8).
Concat frame 80. Dataframe with data (row,col) : (17408, 8).
Concat frame 81. Dataframe with data (row,col) : (17652, 8).
Concat frame 82. Dataframe with data (row,col) : (17876, 8).
Concat frame 83. Dataframe with data (row,col) : (17876, 8).
Concat frame 84. Dataframe with data (row,col) : (18112, 8).
Concat frame 85. Dataframe with data (row,col) : (18112, 8).
Concat frame 86. Dataframe with data (row,col) : (18112, 8).
Concat frame 87. Dataframe with data (row,col) : (18383, 8).
Concat frame 88. Dataframe with data (row,col) : (18383, 8).
Concat frame 89. Dataframe with data (row,col) : (18383, 8).

 12%|██████████▍                                                                        | 3/24 [00:40<05:03, 14.44s/it]

Len list of df 3
['retrieving figi: BBG000000000 ticker: TUSD']
Concat frame 0. Dataframe with data (row,col) : (424, 8).
Concat frame 1. Dataframe with data (row,col) : (424, 8).
Concat frame 2. Dataframe with data (row,col) : (424, 8).
Concat frame 3. Dataframe with data (row,col) : (859, 8).
Concat frame 4. Dataframe with data (row,col) : (1312, 8).
Concat frame 5. Dataframe with data (row,col) : (1770, 8).
Concat frame 6. Dataframe with data (row,col) : (2250, 8).
Concat frame 7. Dataframe with data (row,col) : (2670, 8).
Concat frame 8. Dataframe with data (row,col) : (2670, 8).
Concat frame 9. Dataframe with data (row,col) : (2670, 8).
Concat frame 10. Dataframe with data (row,col) : (3134, 8).
Concat frame 11. Dataframe with data (row,col) : (3559, 8).
Concat frame 12. Dataframe with data (row,col) : (3967, 8).
Concat frame 13. Dataframe with data (row,col) : (4393, 8).
Concat frame 14. Dataframe with data (row,col) : (4885, 8).
Concat frame 15. Dataframe with data (row,col) : (4885, 8).
Concat frame 16. Dataframe with data (row,col) : (4885, 8).
Concat frame 17. Dataframe with data (row,col) : (5357, 8).
Concat frame 18. Dataframe with data (row,col) : (5830, 8).
Concat frame 19. Dataframe with data (row,col) : (6298, 8).
Concat frame 20. Dataframe with data (row,col) : (6795, 8).
Concat frame 21. Dataframe with data (row,col) : (6795, 8).
Concat frame 22. Dataframe with data (row,col) : (6795, 8).
Concat frame 23. Dataframe with data (row,col) : (6795, 8).
Concat frame 24. Dataframe with data (row,col) : (7275, 8).
Concat frame 25. Dataframe with data (row,col) : (7753, 8).
Concat frame 26. Dataframe with data (row,col) : (8193, 8).
Concat frame 27. Dataframe with data (row,col) : (8658, 8).
Concat frame 28. Dataframe with data (row,col) : (9144, 8).
Concat frame 29. Dataframe with data (row,col) : (9144, 8).
Concat frame 30. Dataframe with data (row,col) : (9144, 8).
Concat frame 31. Dataframe with data (row,col) : (9638, 8).
Concat frame 32. Dataframe with data (row,col) : (10124, 8).
Concat frame 33. Dataframe with data (row,col) : (10623, 8).
Concat frame 34. Dataframe with data (row,col) : (11136, 8).
Concat frame 35. Dataframe with data (row,col) : (11136, 8).
Concat frame 36. Dataframe with data (row,col) : (11136, 8).
Concat frame 37. Dataframe with data (row,col) : (11136, 8).
Concat frame 38. Dataframe with data (row,col) : (11644, 8).
Concat frame 39. Dataframe with data (row,col) : (12155, 8).
Concat frame 40. Dataframe with data (row,col) : (12665, 8).
Concat frame 41. Dataframe with data (row,col) : (13163, 8).
Concat frame 42. Dataframe with data (row,col) : (13644, 8).
Concat frame 43. Dataframe with data (row,col) : (13644, 8).
Concat frame 44. Dataframe with data (row,col) : (13644, 8).
Concat frame 45. Dataframe with data (row,col) : (14145, 8).
Concat frame 46. Dataframe with data (row,col) : (14644, 8).
Concat frame 47. Dataframe with data (row,col) : (15143, 8).
Concat frame 48. Dataframe with data (row,col) : (15640, 8).
Concat frame 49. Dataframe with data (row,col) : (16125, 8).
Concat frame 50. Dataframe with data (row,col) : (16125, 8).
Concat frame 51. Dataframe with data (row,col) : (16125, 8).
Concat frame 52. Dataframe with data (row,col) : (16599, 8).
Concat frame 53. Dataframe with data (row,col) : (17062, 8).
Concat frame 54. Dataframe with data (row,col) : (17587, 8).
Concat frame 55. Dataframe with data (row,col) : (18103, 8).
Concat frame 56. Dataframe with data (row,col) : (18610, 8).
Concat frame 57. Dataframe with data (row,col) : (18610, 8).
Concat frame 58. Dataframe with data (row,col) : (18610, 8).
Concat frame 59. Dataframe with data (row,col) : (19126, 8).
Concat frame 60. Dataframe with data (row,col) : (19647, 8).
Concat frame 61. Dataframe with data (row,col) : (20158, 8).
Concat frame 62. Dataframe with data (row,col) : (20674, 8).
Concat frame 63. Dataframe with data (row,col) : (21193, 8).
Concat frame 64. Dataframe with data (row,col) : (21193, 8).
Concat frame 65. Dataframe with data (row,col) : (21193, 8).
Concat frame 66. Dataframe with data (row,col) : (21708, 8).
Concat frame 67. Dataframe with data (row,col) : (22195, 8).
Concat frame 68. Dataframe with data (row,col) : (22689, 8).
Concat frame 69. Dataframe with data (row,col) : (23207, 8).
Concat frame 70. Dataframe with data (row,col) : (23719, 8).
Concat frame 71. Dataframe with data (row,col) : (23719, 8).
Concat frame 72. Dataframe with data (row,col) : (23719, 8).
Concat frame 73. Dataframe with data (row,col) : (24233, 8).
Concat frame 74. Dataframe with data (row,col) : (24750, 8).
Concat frame 75. Dataframe with data (row,col) : (25270, 8).
Concat frame 76. Dataframe with data (row,col) : (25790, 8).
Concat frame 77. Dataframe with data (row,col) : (26301, 8).
Concat frame 78. Dataframe with data (row,col) : (26301, 8).
Concat frame 79. Dataframe with data (row,col) : (26301, 8).
Concat frame 80. Dataframe with data (row,col) : (26818, 8).
Concat frame 81. Dataframe with data (row,col) : (27340, 8).
Concat frame 82. Dataframe with data (row,col) : (27862, 8).
Concat frame 83. Dataframe with data (row,col) : (27862, 8).
Concat frame 84. Dataframe with data (row,col) : (28357, 8).
Concat frame 85. Dataframe with data (row,col) : (28357, 8).
Concat frame 86. Dataframe with data (row,col) : (28357, 8).
Concat frame 87. Dataframe with data (row,col) : (28879, 8).
Concat frame 88. Dataframe with data (row,col) : (28879, 8).
Concat frame 89. Dataframe with data (row,col) : (28879, 8).

 17%|█████████████▊                                                                     | 4/24 [00:57<05:03, 15.19s/it]

Len list of df 4
['retrieving figi: BBG000000002 ticker: TEUR']
Concat frame 0. Dataframe with data (row,col) : (248, 8).
Concat frame 1. Dataframe with data (row,col) : (248, 8).
Concat frame 2. Dataframe with data (row,col) : (248, 8).
Concat frame 3. Dataframe with data (row,col) : (488, 8).
Concat frame 4. Dataframe with data (row,col) : (791, 8).
Concat frame 5. Dataframe with data (row,col) : (1082, 8).
Concat frame 6. Dataframe with data (row,col) : (1382, 8).
Concat frame 7. Dataframe with data (row,col) : (1602, 8).
Concat frame 8. Dataframe with data (row,col) : (1602, 8).
Concat frame 9. Dataframe with data (row,col) : (1602, 8).
Concat frame 10. Dataframe with data (row,col) : (1848, 8).
Concat frame 11. Dataframe with data (row,col) : (2097, 8).
Concat frame 12. Dataframe with data (row,col) : (2333, 8).
Concat frame 13. Dataframe with data (row,col) : (2550, 8).
Concat frame 14. Dataframe with data (row,col) : (2834, 8).
Concat frame 15. Dataframe with data (row,col) : (2834, 8).
Concat frame 16. Dataframe with data (row,col) : (2834, 8).
Concat frame 17. Dataframe with data (row,col) : (3121, 8).
Concat frame 18. Dataframe with data (row,col) : (3433, 8).
Concat frame 19. Dataframe with data (row,col) : (3768, 8).
Concat frame 20. Dataframe with data (row,col) : (4122, 8).
Concat frame 21. Dataframe with data (row,col) : (4122, 8).
Concat frame 22. Dataframe with data (row,col) : (4122, 8).
Concat frame 23. Dataframe with data (row,col) : (4122, 8).
Concat frame 24. Dataframe with data (row,col) : (4427, 8).
Concat frame 25. Dataframe with data (row,col) : (4689, 8).
Concat frame 26. Dataframe with data (row,col) : (4929, 8).
Concat frame 27. Dataframe with data (row,col) : (5238, 8).
Concat frame 28. Dataframe with data (row,col) : (5600, 8).
Concat frame 29. Dataframe with data (row,col) : (5600, 8).
Concat frame 30. Dataframe with data (row,col) : (5600, 8).
Concat frame 31. Dataframe with data (row,col) : (5953, 8).
Concat frame 32. Dataframe with data (row,col) : (6291, 8).
Concat frame 33. Dataframe with data (row,col) : (6677, 8).
Concat frame 34. Dataframe with data (row,col) : (7057, 8).
Concat frame 35. Dataframe with data (row,col) : (7057, 8).
Concat frame 36. Dataframe with data (row,col) : (7057, 8).
Concat frame 37. Dataframe with data (row,col) : (7057, 8).
Concat frame 38. Dataframe with data (row,col) : (7403, 8).
Concat frame 39. Dataframe with data (row,col) : (7763, 8).
Concat frame 40. Dataframe with data (row,col) : (8110, 8).
Concat frame 41. Dataframe with data (row,col) : (8447, 8).
Concat frame 42. Dataframe with data (row,col) : (8828, 8).
Concat frame 43. Dataframe with data (row,col) : (8828, 8).
Concat frame 44. Dataframe with data (row,col) : (8828, 8).
Concat frame 45. Dataframe with data (row,col) : (9174, 8).
Concat frame 46. Dataframe with data (row,col) : (9538, 8).
Concat frame 47. Dataframe with data (row,col) : (9864, 8).
Concat frame 48. Dataframe with data (row,col) : (10195, 8).
Concat frame 49. Dataframe with data (row,col) : (10521, 8).
Concat frame 50. Dataframe with data (row,col) : (10521, 8).
Concat frame 51. Dataframe with data (row,col) : (10521, 8).
Concat frame 52. Dataframe with data (row,col) : (10797, 8).
Concat frame 53. Dataframe with data (row,col) : (11028, 8).
Concat frame 54. Dataframe with data (row,col) : (11304, 8).
Concat frame 55. Dataframe with data (row,col) : (11625, 8).
Concat frame 56. Dataframe with data (row,col) : (11976, 8).
Concat frame 57. Dataframe with data (row,col) : (11976, 8).
Concat frame 58. Dataframe with data (row,col) : (11976, 8).
Concat frame 59. Dataframe with data (row,col) : (12289, 8).
Concat frame 60. Dataframe with data (row,col) : (12528, 8).
Concat frame 61. Dataframe with data (row,col) : (12786, 8).
Concat frame 62. Dataframe with data (row,col) : (13070, 8).
Concat frame 63. Dataframe with data (row,col) : (13437, 8).
Concat frame 64. Dataframe with data (row,col) : (13437, 8).
Concat frame 65. Dataframe with data (row,col) : (13437, 8).
Concat frame 66. Dataframe with data (row,col) : (13736, 8).
Concat frame 67. Dataframe with data (row,col) : (13959, 8).
Concat frame 68. Dataframe with data (row,col) : (14209, 8).
Concat frame 69. Dataframe with data (row,col) : (14511, 8).
Concat frame 70. Dataframe with data (row,col) : (14906, 8).
Concat frame 71. Dataframe with data (row,col) : (14906, 8).
Concat frame 72. Dataframe with data (row,col) : (14906, 8).
Concat frame 73. Dataframe with data (row,col) : (15419, 8).
Concat frame 74. Dataframe with data (row,col) : (15916, 8).
Concat frame 75. Dataframe with data (row,col) : (16418, 8).
Concat frame 76. Dataframe with data (row,col) : (16886, 8).
Concat frame 77. Dataframe with data (row,col) : (17319, 8).
Concat frame 78. Dataframe with data (row,col) : (17319, 8).
Concat frame 79. Dataframe with data (row,col) : (17319, 8).
Concat frame 80. Dataframe with data (row,col) : (17647, 8).
Concat frame 81. Dataframe with data (row,col) : (18050, 8).
Concat frame 82. Dataframe with data (row,col) : (18367, 8).
Concat frame 83. Dataframe with data (row,col) : (18367, 8).
Concat frame 84. Dataframe with data (row,col) : (18688, 8).
Concat frame 85. Dataframe with data (row,col) : (18688, 8).
Concat frame 86. Dataframe with data (row,col) : (18688, 8).
Concat frame 87. Dataframe with data (row,col) : (19014, 8).
Concat frame 88. Dataframe with data (row,col) : (19014, 8).
Concat frame 89. Dataframe with data (row,col) : (19014, 8).

 21%|█████████████████▎                                                                 | 5/24 [01:11<04:40, 14.77s/it]

Len list of df 5
['retrieving figi: BBG000000001 ticker: TRUR']
Concat frame 0. Dataframe with data (row,col) : (511, 8).
Concat frame 1. Dataframe with data (row,col) : (511, 8).
Concat frame 2. Dataframe with data (row,col) : (511, 8).
Concat frame 3. Dataframe with data (row,col) : (1005, 8).
Concat frame 4. Dataframe with data (row,col) : (1501, 8).
Concat frame 5. Dataframe with data (row,col) : (1997, 8).
Concat frame 6. Dataframe with data (row,col) : (2503, 8).
Concat frame 7. Dataframe with data (row,col) : (2983, 8).
Concat frame 8. Dataframe with data (row,col) : (2983, 8).
Concat frame 9. Dataframe with data (row,col) : (2983, 8).
Concat frame 10. Dataframe with data (row,col) : (3493, 8).
Concat frame 11. Dataframe with data (row,col) : (3984, 8).
Concat frame 12. Dataframe with data (row,col) : (4454, 8).
Concat frame 13. Dataframe with data (row,col) : (4926, 8).
Concat frame 14. Dataframe with data (row,col) : (5436, 8).
Concat frame 15. Dataframe with data (row,col) : (5436, 8).
Concat frame 16. Dataframe with data (row,col) : (5436, 8).
Concat frame 17. Dataframe with data (row,col) : (5943, 8).
Concat frame 18. Dataframe with data (row,col) : (6452, 8).
Concat frame 19. Dataframe with data (row,col) : (6957, 8).
Concat frame 20. Dataframe with data (row,col) : (7477, 8).
Concat frame 21. Dataframe with data (row,col) : (7477, 8).
Concat frame 22. Dataframe with data (row,col) : (7477, 8).
Concat frame 23. Dataframe with data (row,col) : (7477, 8).
Concat frame 24. Dataframe with data (row,col) : (7983, 8).
Concat frame 25. Dataframe with data (row,col) : (8480, 8).
Concat frame 26. Dataframe with data (row,col) : (8989, 8).
Concat frame 27. Dataframe with data (row,col) : (9499, 8).
Concat frame 28. Dataframe with data (row,col) : (10012, 8).
Concat frame 29. Dataframe with data (row,col) : (10012, 8).
Concat frame 30. Dataframe with data (row,col) : (10012, 8).
Concat frame 31. Dataframe with data (row,col) : (10530, 8).
Concat frame 32. Dataframe with data (row,col) : (11038, 8).
Concat frame 33. Dataframe with data (row,col) : (11556, 8).
Concat frame 34. Dataframe with data (row,col) : (12077, 8).
Concat frame 35. Dataframe with data (row,col) : (12077, 8).
Concat frame 36. Dataframe with data (row,col) : (12077, 8).
Concat frame 37. Dataframe with data (row,col) : (12077, 8).
Concat frame 38. Dataframe with data (row,col) : (12599, 8).
Concat frame 39. Dataframe with data (row,col) : (13118, 8).
Concat frame 40. Dataframe with data (row,col) : (13628, 8).
Concat frame 41. Dataframe with data (row,col) : (14134, 8).
Concat frame 42. Dataframe with data (row,col) : (14650, 8).
Concat frame 43. Dataframe with data (row,col) : (14650, 8).
Concat frame 44. Dataframe with data (row,col) : (14650, 8).
Concat frame 45. Dataframe with data (row,col) : (15165, 8).
Concat frame 46. Dataframe with data (row,col) : (15674, 8).
Concat frame 47. Dataframe with data (row,col) : (16178, 8).
Concat frame 48. Dataframe with data (row,col) : (16673, 8).
Concat frame 49. Dataframe with data (row,col) : (17186, 8).
Concat frame 50. Dataframe with data (row,col) : (17186, 8).
Concat frame 51. Dataframe with data (row,col) : (17186, 8).
Concat frame 52. Dataframe with data (row,col) : (17690, 8).
Concat frame 53. Dataframe with data (row,col) : (18188, 8).
Concat frame 54. Dataframe with data (row,col) : (18695, 8).
Concat frame 55. Dataframe with data (row,col) : (19203, 8).
Concat frame 56. Dataframe with data (row,col) : (19706, 8).
Concat frame 57. Dataframe with data (row,col) : (19706, 8).
Concat frame 58. Dataframe with data (row,col) : (19706, 8).
Concat frame 59. Dataframe with data (row,col) : (20206, 8).
Concat frame 60. Dataframe with data (row,col) : (20715, 8).
Concat frame 61. Dataframe with data (row,col) : (21219, 8).
Concat frame 62. Dataframe with data (row,col) : (21734, 8).
Concat frame 63. Dataframe with data (row,col) : (22249, 8).
Concat frame 64. Dataframe with data (row,col) : (22249, 8).
Concat frame 65. Dataframe with data (row,col) : (22249, 8).
Concat frame 66. Dataframe with data (row,col) : (22766, 8).
Concat frame 67. Dataframe with data (row,col) : (23258, 8).
Concat frame 68. Dataframe with data (row,col) : (23772, 8).
Concat frame 69. Dataframe with data (row,col) : (24291, 8).
Concat frame 70. Dataframe with data (row,col) : (24811, 8).
Concat frame 71. Dataframe with data (row,col) : (24811, 8).
Concat frame 72. Dataframe with data (row,col) : (24811, 8).
Concat frame 73. Dataframe with data (row,col) : (25327, 8).
Concat frame 74. Dataframe with data (row,col) : (25842, 8).
Concat frame 75. Dataframe with data (row,col) : (26358, 8).
Concat frame 76. Dataframe with data (row,col) : (26876, 8).
Concat frame 77. Dataframe with data (row,col) : (27397, 8).
Concat frame 78. Dataframe with data (row,col) : (27397, 8).
Concat frame 79. Dataframe with data (row,col) : (27397, 8).
Concat frame 80. Dataframe with data (row,col) : (27913, 8).
Concat frame 81. Dataframe with data (row,col) : (28429, 8).
Concat frame 82. Dataframe with data (row,col) : (28948, 8).
Concat frame 83. Dataframe with data (row,col) : (28948, 8).
Concat frame 84. Dataframe with data (row,col) : (29467, 8).
Concat frame 85. Dataframe with data (row,col) : (29467, 8).
Concat frame 86. Dataframe with data (row,col) : (29467, 8).
Concat frame 87. Dataframe with data (row,col) : (29959, 8).
Concat frame 88. Dataframe with data (row,col) : (29959, 8).
Concat frame 89. Dataframe with data (row,col) : (29959, 8).

 25%|████████████████████▊                                                              | 6/24 [01:28<04:39, 15.54s/it]

Len list of df 6
['retrieving figi: BBG00KMXH2C2 ticker: RUSB']
Concat frame 0. Dataframe with data (row,col) : (91, 8).
Concat frame 1. Dataframe with data (row,col) : (91, 8).
Concat frame 2. Dataframe with data (row,col) : (91, 8).
Concat frame 3. Dataframe with data (row,col) : (178, 8).
Concat frame 4. Dataframe with data (row,col) : (254, 8).
Concat frame 5. Dataframe with data (row,col) : (368, 8).
Concat frame 6. Dataframe with data (row,col) : (489, 8).
Concat frame 7. Dataframe with data (row,col) : (596, 8).
Concat frame 8. Dataframe with data (row,col) : (596, 8).
Concat frame 9. Dataframe with data (row,col) : (596, 8).
Concat frame 10. Dataframe with data (row,col) : (700, 8).
Concat frame 11. Dataframe with data (row,col) : (783, 8).
Concat frame 12. Dataframe with data (row,col) : (955, 8).
Concat frame 13. Dataframe with data (row,col) : (1135, 8).
Concat frame 14. Dataframe with data (row,col) : (1304, 8).
Concat frame 15. Dataframe with data (row,col) : (1304, 8).
Concat frame 16. Dataframe with data (row,col) : (1304, 8).
Concat frame 17. Dataframe with data (row,col) : (1493, 8).
Concat frame 18. Dataframe with data (row,col) : (1785, 8).
Concat frame 19. Dataframe with data (row,col) : (1922, 8).
Concat frame 20. Dataframe with data (row,col) : (2112, 8).
Concat frame 21. Dataframe with data (row,col) : (2112, 8).
Concat frame 22. Dataframe with data (row,col) : (2112, 8).
Concat frame 23. Dataframe with data (row,col) : (2112, 8).
Concat frame 24. Dataframe with data (row,col) : (2248, 8).
Concat frame 25. Dataframe with data (row,col) : (2305, 8).
Concat frame 26. Dataframe with data (row,col) : (2378, 8).
Concat frame 27. Dataframe with data (row,col) : (2437, 8).
Concat frame 28. Dataframe with data (row,col) : (2554, 8).
Concat frame 29. Dataframe with data (row,col) : (2554, 8).
Concat frame 30. Dataframe with data (row,col) : (2554, 8).
Concat frame 31. Dataframe with data (row,col) : (2698, 8).
Concat frame 32. Dataframe with data (row,col) : (2792, 8).
Concat frame 33. Dataframe with data (row,col) : (2871, 8).
Concat frame 34. Dataframe with data (row,col) : (2956, 8).
Concat frame 35. Dataframe with data (row,col) : (2956, 8).
Concat frame 36. Dataframe with data (row,col) : (2956, 8).
Concat frame 37. Dataframe with data (row,col) : (2956, 8).
Concat frame 38. Dataframe with data (row,col) : (3019, 8).
Concat frame 39. Dataframe with data (row,col) : (3068, 8).
Concat frame 40. Dataframe with data (row,col) : (3098, 8).
Concat frame 41. Dataframe with data (row,col) : (3184, 8).
Concat frame 42. Dataframe with data (row,col) : (3237, 8).
Concat frame 43. Dataframe with data (row,col) : (3237, 8).
Concat frame 44. Dataframe with data (row,col) : (3237, 8).
Concat frame 45. Dataframe with data (row,col) : (3291, 8).
Concat frame 46. Dataframe with data (row,col) : (3349, 8).
Concat frame 47. Dataframe with data (row,col) : (3391, 8).
Concat frame 48. Dataframe with data (row,col) : (3449, 8).
Concat frame 49. Dataframe with data (row,col) : (3538, 8).
Concat frame 50. Dataframe with data (row,col) : (3538, 8).
Concat frame 51. Dataframe with data (row,col) : (3538, 8).
Concat frame 52. Dataframe with data (row,col) : (3596, 8).
Concat frame 53. Dataframe with data (row,col) : (3640, 8).
Concat frame 54. Dataframe with data (row,col) : (3690, 8).
Concat frame 55. Dataframe with data (row,col) : (3741, 8).
Concat frame 56. Dataframe with data (row,col) : (3802, 8).
Concat frame 57. Dataframe with data (row,col) : (3802, 8).
Concat frame 58. Dataframe with data (row,col) : (3802, 8).
Concat frame 59. Dataframe with data (row,col) : (3869, 8).
Concat frame 60. Dataframe with data (row,col) : (3942, 8).
Concat frame 61. Dataframe with data (row,col) : (3987, 8).
Concat frame 62. Dataframe with data (row,col) : (4050, 8).
Concat frame 63. Dataframe with data (row,col) : (4112, 8).
Concat frame 64. Dataframe with data (row,col) : (4112, 8).
Concat frame 65. Dataframe with data (row,col) : (4112, 8).
Concat frame 66. Dataframe with data (row,col) : (4158, 8).
Concat frame 67. Dataframe with data (row,col) : (4201, 8).
Concat frame 68. Dataframe with data (row,col) : (4253, 8).
Concat frame 69. Dataframe with data (row,col) : (4307, 8).
Concat frame 70. Dataframe with data (row,col) : (4383, 8).
Concat frame 71. Dataframe with data (row,col) : (4383, 8).
Concat frame 72. Dataframe with data (row,col) : (4383, 8).
Concat frame 73. Dataframe with data (row,col) : (4440, 8).
Concat frame 74. Dataframe with data (row,col) : (4494, 8).
Concat frame 75. Dataframe with data (row,col) : (4568, 8).
Concat frame 76. Dataframe with data (row,col) : (4622, 8).
Concat frame 77. Dataframe with data (row,col) : (4730, 8).
Concat frame 78. Dataframe with data (row,col) : (4730, 8).
Concat frame 79. Dataframe with data (row,col) : (4730, 8).
Concat frame 80. Dataframe with data (row,col) : (4802, 8).
Concat frame 81. Dataframe with data (row,col) : (4911, 8).
Concat frame 82. Dataframe with data (row,col) : (4972, 8).
Concat frame 83. Dataframe with data (row,col) : (4972, 8).
Concat frame 84. Dataframe with data (row,col) : (5023, 8).
Concat frame 85. Dataframe with data (row,col) : (5023, 8).
Concat frame 86. Dataframe with data (row,col) : (5023, 8).
Concat frame 87. Dataframe with data (row,col) : (5080, 8).
Concat frame 88. Dataframe with data (row,col) : (5080, 8).
Concat frame 89. Dataframe with data (row,col) : (5080, 8).

 29%|████████████████████████▏                                                          | 7/24 [01:39<04:00, 14.13s/it]

Len list of df 7
['retrieving figi: BBG005HLSZ23 ticker: FXUS']
Concat frame 0. Dataframe with data (row,col) : (425, 8).
Concat frame 1. Dataframe with data (row,col) : (425, 8).
Concat frame 2. Dataframe with data (row,col) : (425, 8).
Concat frame 3. Dataframe with data (row,col) : (837, 8).
Concat frame 4. Dataframe with data (row,col) : (1252, 8).
Concat frame 5. Dataframe with data (row,col) : (1709, 8).
Concat frame 6. Dataframe with data (row,col) : (2177, 8).
Concat frame 7. Dataframe with data (row,col) : (2677, 8).
Concat frame 8. Dataframe with data (row,col) : (2677, 8).
Concat frame 9. Dataframe with data (row,col) : (2677, 8).
Concat frame 10. Dataframe with data (row,col) : (3152, 8).
Concat frame 11. Dataframe with data (row,col) : (3596, 8).
Concat frame 12. Dataframe with data (row,col) : (4023, 8).
Concat frame 13. Dataframe with data (row,col) : (4472, 8).
Concat frame 14. Dataframe with data (row,col) : (4956, 8).
Concat frame 15. Dataframe with data (row,col) : (4956, 8).
Concat frame 16. Dataframe with data (row,col) : (4956, 8).
Concat frame 17. Dataframe with data (row,col) : (5453, 8).
Concat frame 18. Dataframe with data (row,col) : (5934, 8).
Concat frame 19. Dataframe with data (row,col) : (6365, 8).
Concat frame 20. Dataframe with data (row,col) : (6846, 8).
Concat frame 21. Dataframe with data (row,col) : (6846, 8).
Concat frame 22. Dataframe with data (row,col) : (6846, 8).
Concat frame 23. Dataframe with data (row,col) : (6846, 8).
Concat frame 24. Dataframe with data (row,col) : (7286, 8).
Concat frame 25. Dataframe with data (row,col) : (7677, 8).
Concat frame 26. Dataframe with data (row,col) : (8062, 8).
Concat frame 27. Dataframe with data (row,col) : (8507, 8).
Concat frame 28. Dataframe with data (row,col) : (8990, 8).
Concat frame 29. Dataframe with data (row,col) : (8990, 8).
Concat frame 30. Dataframe with data (row,col) : (8990, 8).
Concat frame 31. Dataframe with data (row,col) : (9495, 8).
Concat frame 32. Dataframe with data (row,col) : (9960, 8).
Concat frame 33. Dataframe with data (row,col) : (10443, 8).
Concat frame 34. Dataframe with data (row,col) : (10900, 8).
Concat frame 35. Dataframe with data (row,col) : (10900, 8).
Concat frame 36. Dataframe with data (row,col) : (10900, 8).
Concat frame 37. Dataframe with data (row,col) : (10900, 8).
Concat frame 38. Dataframe with data (row,col) : (11267, 8).
Concat frame 39. Dataframe with data (row,col) : (11618, 8).
Concat frame 40. Dataframe with data (row,col) : (11941, 8).
Concat frame 41. Dataframe with data (row,col) : (12276, 8).
Concat frame 42. Dataframe with data (row,col) : (12663, 8).
Concat frame 43. Dataframe with data (row,col) : (12663, 8).
Concat frame 44. Dataframe with data (row,col) : (12663, 8).
Concat frame 45. Dataframe with data (row,col) : (13061, 8).
Concat frame 46. Dataframe with data (row,col) : (13421, 8).
Concat frame 47. Dataframe with data (row,col) : (13791, 8).
Concat frame 48. Dataframe with data (row,col) : (14204, 8).
Concat frame 49. Dataframe with data (row,col) : (14620, 8).
Concat frame 50. Dataframe with data (row,col) : (14620, 8).
Concat frame 51. Dataframe with data (row,col) : (14620, 8).
Concat frame 52. Dataframe with data (row,col) : (15000, 8).
Concat frame 53. Dataframe with data (row,col) : (15349, 8).
Concat frame 54. Dataframe with data (row,col) : (15707, 8).
Concat frame 55. Dataframe with data (row,col) : (16049, 8).
Concat frame 56. Dataframe with data (row,col) : (16435, 8).
Concat frame 57. Dataframe with data (row,col) : (16435, 8).
Concat frame 58. Dataframe with data (row,col) : (16435, 8).
Concat frame 59. Dataframe with data (row,col) : (16751, 8).
Concat frame 60. Dataframe with data (row,col) : (17038, 8).
Concat frame 61. Dataframe with data (row,col) : (17312, 8).
Concat frame 62. Dataframe with data (row,col) : (17622, 8).
Concat frame 63. Dataframe with data (row,col) : (18005, 8).
Concat frame 64. Dataframe with data (row,col) : (18005, 8).
Concat frame 65. Dataframe with data (row,col) : (18005, 8).
Concat frame 66. Dataframe with data (row,col) : (18319, 8).
Concat frame 67. Dataframe with data (row,col) : (18627, 8).
Concat frame 68. Dataframe with data (row,col) : (18941, 8).
Concat frame 69. Dataframe with data (row,col) : (19285, 8).
Concat frame 70. Dataframe with data (row,col) : (19656, 8).
Concat frame 71. Dataframe with data (row,col) : (19656, 8).
Concat frame 72. Dataframe with data (row,col) : (19656, 8).
Concat frame 73. Dataframe with data (row,col) : (19953, 8).
Concat frame 74. Dataframe with data (row,col) : (20245, 8).
Concat frame 75. Dataframe with data (row,col) : (20566, 8).
Concat frame 76. Dataframe with data (row,col) : (20895, 8).
Concat frame 77. Dataframe with data (row,col) : (21262, 8).
Concat frame 78. Dataframe with data (row,col) : (21262, 8).
Concat frame 79. Dataframe with data (row,col) : (21262, 8).
Concat frame 80. Dataframe with data (row,col) : (21616, 8).
Concat frame 81. Dataframe with data (row,col) : (21930, 8).
Concat frame 82. Dataframe with data (row,col) : (22210, 8).
Concat frame 83. Dataframe with data (row,col) : (22210, 8).
Concat frame 84. Dataframe with data (row,col) : (22532, 8).
Concat frame 85. Dataframe with data (row,col) : (22532, 8).
Concat frame 86. Dataframe with data (row,col) : (22532, 8).
Concat frame 87. Dataframe with data (row,col) : (22877, 8).
Concat frame 88. Dataframe with data (row,col) : (22877, 8).
Concat frame 89. Dataframe with data (row,col) : (22877, 8).

 33%|███████████████████████████▋                                                       | 8/24 [01:54<03:48, 14.26s/it]

Len list of df 8
['retrieving figi: BBG0073DLHS1 ticker: FXRL']
Concat frame 0. Dataframe with data (row,col) : (367, 8).
Concat frame 1. Dataframe with data (row,col) : (367, 8).
Concat frame 2. Dataframe with data (row,col) : (367, 8).
Concat frame 3. Dataframe with data (row,col) : (743, 8).
Concat frame 4. Dataframe with data (row,col) : (1082, 8).
Concat frame 5. Dataframe with data (row,col) : (1504, 8).
Concat frame 6. Dataframe with data (row,col) : (1914, 8).
Concat frame 7. Dataframe with data (row,col) : (2267, 8).
Concat frame 8. Dataframe with data (row,col) : (2267, 8).
Concat frame 9. Dataframe with data (row,col) : (2267, 8).
Concat frame 10. Dataframe with data (row,col) : (2715, 8).
Concat frame 11. Dataframe with data (row,col) : (3113, 8).
Concat frame 12. Dataframe with data (row,col) : (3527, 8).
Concat frame 13. Dataframe with data (row,col) : (3920, 8).
Concat frame 14. Dataframe with data (row,col) : (4354, 8).
Concat frame 15. Dataframe with data (row,col) : (4354, 8).
Concat frame 16. Dataframe with data (row,col) : (4354, 8).
Concat frame 17. Dataframe with data (row,col) : (4807, 8).
Concat frame 18. Dataframe with data (row,col) : (5283, 8).
Concat frame 19. Dataframe with data (row,col) : (5722, 8).
Concat frame 20. Dataframe with data (row,col) : (6227, 8).
Concat frame 21. Dataframe with data (row,col) : (6227, 8).
Concat frame 22. Dataframe with data (row,col) : (6227, 8).
Concat frame 23. Dataframe with data (row,col) : (6227, 8).
Concat frame 24. Dataframe with data (row,col) : (6674, 8).
Concat frame 25. Dataframe with data (row,col) : (7066, 8).
Concat frame 26. Dataframe with data (row,col) : (7404, 8).
Concat frame 27. Dataframe with data (row,col) : (7825, 8).
Concat frame 28. Dataframe with data (row,col) : (8303, 8).
Concat frame 29. Dataframe with data (row,col) : (8303, 8).
Concat frame 30. Dataframe with data (row,col) : (8303, 8).
Concat frame 31. Dataframe with data (row,col) : (8784, 8).
Concat frame 32. Dataframe with data (row,col) : (9174, 8).
Concat frame 33. Dataframe with data (row,col) : (9605, 8).
Concat frame 34. Dataframe with data (row,col) : (10026, 8).
Concat frame 35. Dataframe with data (row,col) : (10026, 8).
Concat frame 36. Dataframe with data (row,col) : (10026, 8).
Concat frame 37. Dataframe with data (row,col) : (10026, 8).
Concat frame 38. Dataframe with data (row,col) : (10321, 8).
Concat frame 39. Dataframe with data (row,col) : (10670, 8).
Concat frame 40. Dataframe with data (row,col) : (10975, 8).
Concat frame 41. Dataframe with data (row,col) : (11310, 8).
Concat frame 42. Dataframe with data (row,col) : (11644, 8).
Concat frame 43. Dataframe with data (row,col) : (11644, 8).
Concat frame 44. Dataframe with data (row,col) : (11644, 8).
Concat frame 45. Dataframe with data (row,col) : (11975, 8).
Concat frame 46. Dataframe with data (row,col) : (12299, 8).
Concat frame 47. Dataframe with data (row,col) : (12622, 8).
Concat frame 48. Dataframe with data (row,col) : (12971, 8).
Concat frame 49. Dataframe with data (row,col) : (13371, 8).
Concat frame 50. Dataframe with data (row,col) : (13371, 8).
Concat frame 51. Dataframe with data (row,col) : (13371, 8).
Concat frame 52. Dataframe with data (row,col) : (13750, 8).
Concat frame 53. Dataframe with data (row,col) : (14120, 8).
Concat frame 54. Dataframe with data (row,col) : (14496, 8).
Concat frame 55. Dataframe with data (row,col) : (14832, 8).
Concat frame 56. Dataframe with data (row,col) : (15226, 8).
Concat frame 57. Dataframe with data (row,col) : (15226, 8).
Concat frame 58. Dataframe with data (row,col) : (15226, 8).
Concat frame 59. Dataframe with data (row,col) : (15565, 8).
Concat frame 60. Dataframe with data (row,col) : (15865, 8).
Concat frame 61. Dataframe with data (row,col) : (16196, 8).
Concat frame 62. Dataframe with data (row,col) : (16547, 8).
Concat frame 63. Dataframe with data (row,col) : (16988, 8).
Concat frame 64. Dataframe with data (row,col) : (16988, 8).
Concat frame 65. Dataframe with data (row,col) : (16988, 8).
Concat frame 66. Dataframe with data (row,col) : (17332, 8).
Concat frame 67. Dataframe with data (row,col) : (17634, 8).
Concat frame 68. Dataframe with data (row,col) : (17996, 8).
Concat frame 69. Dataframe with data (row,col) : (18352, 8).
Concat frame 70. Dataframe with data (row,col) : (18771, 8).
Concat frame 71. Dataframe with data (row,col) : (18771, 8).
Concat frame 72. Dataframe with data (row,col) : (18771, 8).
Concat frame 73. Dataframe with data (row,col) : (19148, 8).
Concat frame 74. Dataframe with data (row,col) : (19504, 8).
Concat frame 75. Dataframe with data (row,col) : (19886, 8).
Concat frame 76. Dataframe with data (row,col) : (20297, 8).
Concat frame 77. Dataframe with data (row,col) : (20689, 8).
Concat frame 78. Dataframe with data (row,col) : (20689, 8).
Concat frame 79. Dataframe with data (row,col) : (20689, 8).
Concat frame 80. Dataframe with data (row,col) : (21070, 8).
Concat frame 81. Dataframe with data (row,col) : (21436, 8).
Concat frame 82. Dataframe with data (row,col) : (21775, 8).
Concat frame 83. Dataframe with data (row,col) : (21775, 8).
Concat frame 84. Dataframe with data (row,col) : (22089, 8).
Concat frame 85. Dataframe with data (row,col) : (22089, 8).
Concat frame 86. Dataframe with data (row,col) : (22089, 8).
Concat frame 87. Dataframe with data (row,col) : (22450, 8).
Concat frame 88. Dataframe with data (row,col) : (22450, 8).
Concat frame 89. Dataframe with data (row,col) : (22450, 8).

 38%|███████████████████████████████▏                                                   | 9/24 [02:08<03:35, 14.34s/it]

Len list of df 9
['retrieving figi: BBG005N1KZX4 ticker: FXRU']
Concat frame 0. Dataframe with data (row,col) : (367, 8).
Concat frame 1. Dataframe with data (row,col) : (367, 8).
Concat frame 2. Dataframe with data (row,col) : (367, 8).
Concat frame 3. Dataframe with data (row,col) : (703, 8).
Concat frame 4. Dataframe with data (row,col) : (1011, 8).
Concat frame 5. Dataframe with data (row,col) : (1388, 8).
Concat frame 6. Dataframe with data (row,col) : (1752, 8).
Concat frame 7. Dataframe with data (row,col) : (2084, 8).
Concat frame 8. Dataframe with data (row,col) : (2084, 8).
Concat frame 9. Dataframe with data (row,col) : (2084, 8).
Concat frame 10. Dataframe with data (row,col) : (2480, 8).
Concat frame 11. Dataframe with data (row,col) : (2845, 8).
Concat frame 12. Dataframe with data (row,col) : (3267, 8).
Concat frame 13. Dataframe with data (row,col) : (3649, 8).
Concat frame 14. Dataframe with data (row,col) : (4070, 8).
Concat frame 15. Dataframe with data (row,col) : (4070, 8).
Concat frame 16. Dataframe with data (row,col) : (4070, 8).
Concat frame 17. Dataframe with data (row,col) : (4497, 8).
Concat frame 18. Dataframe with data (row,col) : (4967, 8).
Concat frame 19. Dataframe with data (row,col) : (5346, 8).
Concat frame 20. Dataframe with data (row,col) : (5808, 8).
Concat frame 21. Dataframe with data (row,col) : (5808, 8).
Concat frame 22. Dataframe with data (row,col) : (5808, 8).
Concat frame 23. Dataframe with data (row,col) : (5808, 8).
Concat frame 24. Dataframe with data (row,col) : (6243, 8).
Concat frame 25. Dataframe with data (row,col) : (6591, 8).
Concat frame 26. Dataframe with data (row,col) : (6902, 8).
Concat frame 27. Dataframe with data (row,col) : (7215, 8).
Concat frame 28. Dataframe with data (row,col) : (7617, 8).
Concat frame 29. Dataframe with data (row,col) : (7617, 8).
Concat frame 30. Dataframe with data (row,col) : (7617, 8).
Concat frame 31. Dataframe with data (row,col) : (8076, 8).
Concat frame 32. Dataframe with data (row,col) : (8456, 8).
Concat frame 33. Dataframe with data (row,col) : (8840, 8).
Concat frame 34. Dataframe with data (row,col) : (9235, 8).
Concat frame 35. Dataframe with data (row,col) : (9235, 8).
Concat frame 36. Dataframe with data (row,col) : (9235, 8).
Concat frame 37. Dataframe with data (row,col) : (9235, 8).
Concat frame 38. Dataframe with data (row,col) : (9535, 8).
Concat frame 39. Dataframe with data (row,col) : (9791, 8).
Concat frame 40. Dataframe with data (row,col) : (10028, 8).
Concat frame 41. Dataframe with data (row,col) : (10305, 8).
Concat frame 42. Dataframe with data (row,col) : (10565, 8).
Concat frame 43. Dataframe with data (row,col) : (10565, 8).
Concat frame 44. Dataframe with data (row,col) : (10565, 8).
Concat frame 45. Dataframe with data (row,col) : (10837, 8).
Concat frame 46. Dataframe with data (row,col) : (11111, 8).
Concat frame 47. Dataframe with data (row,col) : (11408, 8).
Concat frame 48. Dataframe with data (row,col) : (11716, 8).
Concat frame 49. Dataframe with data (row,col) : (12031, 8).
Concat frame 50. Dataframe with data (row,col) : (12031, 8).
Concat frame 51. Dataframe with data (row,col) : (12031, 8).
Concat frame 52. Dataframe with data (row,col) : (12330, 8).
Concat frame 53. Dataframe with data (row,col) : (12599, 8).
Concat frame 54. Dataframe with data (row,col) : (12940, 8).
Concat frame 55. Dataframe with data (row,col) : (13250, 8).
Concat frame 56. Dataframe with data (row,col) : (13625, 8).
Concat frame 57. Dataframe with data (row,col) : (13625, 8).
Concat frame 58. Dataframe with data (row,col) : (13625, 8).
Concat frame 59. Dataframe with data (row,col) : (13936, 8).
Concat frame 60. Dataframe with data (row,col) : (14205, 8).
Concat frame 61. Dataframe with data (row,col) : (14456, 8).
Concat frame 62. Dataframe with data (row,col) : (14751, 8).
Concat frame 63. Dataframe with data (row,col) : (15096, 8).
Concat frame 64. Dataframe with data (row,col) : (15096, 8).
Concat frame 65. Dataframe with data (row,col) : (15096, 8).
Concat frame 66. Dataframe with data (row,col) : (15348, 8).
Concat frame 67. Dataframe with data (row,col) : (15604, 8).
Concat frame 68. Dataframe with data (row,col) : (15900, 8).
Concat frame 69. Dataframe with data (row,col) : (16202, 8).
Concat frame 70. Dataframe with data (row,col) : (16532, 8).
Concat frame 71. Dataframe with data (row,col) : (16532, 8).
Concat frame 72. Dataframe with data (row,col) : (16532, 8).
Concat frame 73. Dataframe with data (row,col) : (16865, 8).
Concat frame 74. Dataframe with data (row,col) : (17173, 8).
Concat frame 75. Dataframe with data (row,col) : (17493, 8).
Concat frame 76. Dataframe with data (row,col) : (17826, 8).
Concat frame 77. Dataframe with data (row,col) : (18219, 8).
Concat frame 78. Dataframe with data (row,col) : (18219, 8).
Concat frame 79. Dataframe with data (row,col) : (18219, 8).
Concat frame 80. Dataframe with data (row,col) : (18587, 8).
Concat frame 81. Dataframe with data (row,col) : (18977, 8).
Concat frame 82. Dataframe with data (row,col) : (19307, 8).
Concat frame 83. Dataframe with data (row,col) : (19307, 8).
Concat frame 84. Dataframe with data (row,col) : (19612, 8).
Concat frame 85. Dataframe with data (row,col) : (19612, 8).
Concat frame 86. Dataframe with data (row,col) : (19612, 8).
Concat frame 87. Dataframe with data (row,col) : (19923, 8).
Concat frame 88. Dataframe with data (row,col) : (19923, 8).
Concat frame 89. Dataframe with data (row,col) : (19923, 8).

 42%|██████████████████████████████████▏                                               | 10/24 [02:21<03:15, 13.93s/it]

Len list of df 10
['retrieving figi: BBG004HNZFH2 ticker: FXRB']
Concat frame 0. Dataframe with data (row,col) : (304, 8).
Concat frame 1. Dataframe with data (row,col) : (304, 8).
Concat frame 2. Dataframe with data (row,col) : (304, 8).
Concat frame 3. Dataframe with data (row,col) : (495, 8).
Concat frame 4. Dataframe with data (row,col) : (711, 8).
Concat frame 5. Dataframe with data (row,col) : (981, 8).
Concat frame 6. Dataframe with data (row,col) : (1244, 8).
Concat frame 7. Dataframe with data (row,col) : (1519, 8).
Concat frame 8. Dataframe with data (row,col) : (1519, 8).
Concat frame 9. Dataframe with data (row,col) : (1519, 8).
Concat frame 10. Dataframe with data (row,col) : (1840, 8).
Concat frame 11. Dataframe with data (row,col) : (2073, 8).
Concat frame 12. Dataframe with data (row,col) : (2324, 8).
Concat frame 13. Dataframe with data (row,col) : (2541, 8).
Concat frame 14. Dataframe with data (row,col) : (2882, 8).
Concat frame 15. Dataframe with data (row,col) : (2882, 8).
Concat frame 16. Dataframe with data (row,col) : (2882, 8).
Concat frame 17. Dataframe with data (row,col) : (3195, 8).
Concat frame 18. Dataframe with data (row,col) : (3567, 8).
Concat frame 19. Dataframe with data (row,col) : (3862, 8).
Concat frame 20. Dataframe with data (row,col) : (4276, 8).
Concat frame 21. Dataframe with data (row,col) : (4276, 8).
Concat frame 22. Dataframe with data (row,col) : (4276, 8).
Concat frame 23. Dataframe with data (row,col) : (4276, 8).
Concat frame 24. Dataframe with data (row,col) : (4539, 8).
Concat frame 25. Dataframe with data (row,col) : (4765, 8).
Concat frame 26. Dataframe with data (row,col) : (4967, 8).
Concat frame 27. Dataframe with data (row,col) : (5181, 8).
Concat frame 28. Dataframe with data (row,col) : (5475, 8).
Concat frame 29. Dataframe with data (row,col) : (5475, 8).
Concat frame 30. Dataframe with data (row,col) : (5475, 8).
Concat frame 31. Dataframe with data (row,col) : (5810, 8).
Concat frame 32. Dataframe with data (row,col) : (6029, 8).
Concat frame 33. Dataframe with data (row,col) : (6344, 8).
Concat frame 34. Dataframe with data (row,col) : (6631, 8).
Concat frame 35. Dataframe with data (row,col) : (6631, 8).
Concat frame 36. Dataframe with data (row,col) : (6631, 8).
Concat frame 37. Dataframe with data (row,col) : (6631, 8).
Concat frame 38. Dataframe with data (row,col) : (6834, 8).
Concat frame 39. Dataframe with data (row,col) : (7041, 8).
Concat frame 40. Dataframe with data (row,col) : (7230, 8).
Concat frame 41. Dataframe with data (row,col) : (7422, 8).
Concat frame 42. Dataframe with data (row,col) : (7662, 8).
Concat frame 43. Dataframe with data (row,col) : (7662, 8).
Concat frame 44. Dataframe with data (row,col) : (7662, 8).
Concat frame 45. Dataframe with data (row,col) : (7883, 8).
Concat frame 46. Dataframe with data (row,col) : (8117, 8).
Concat frame 47. Dataframe with data (row,col) : (8345, 8).
Concat frame 48. Dataframe with data (row,col) : (8573, 8).
Concat frame 49. Dataframe with data (row,col) : (8833, 8).
Concat frame 50. Dataframe with data (row,col) : (8833, 8).
Concat frame 51. Dataframe with data (row,col) : (8833, 8).
Concat frame 52. Dataframe with data (row,col) : (9046, 8).
Concat frame 53. Dataframe with data (row,col) : (9242, 8).
Concat frame 54. Dataframe with data (row,col) : (9487, 8).
Concat frame 55. Dataframe with data (row,col) : (9693, 8).
Concat frame 56. Dataframe with data (row,col) : (9943, 8).
Concat frame 57. Dataframe with data (row,col) : (9943, 8).
Concat frame 58. Dataframe with data (row,col) : (9943, 8).
Concat frame 59. Dataframe with data (row,col) : (10150, 8).
Concat frame 60. Dataframe with data (row,col) : (10355, 8).
Concat frame 61. Dataframe with data (row,col) : (10583, 8).
Concat frame 62. Dataframe with data (row,col) : (10828, 8).
Concat frame 63. Dataframe with data (row,col) : (11179, 8).
Concat frame 64. Dataframe with data (row,col) : (11179, 8).
Concat frame 65. Dataframe with data (row,col) : (11179, 8).
Concat frame 66. Dataframe with data (row,col) : (11404, 8).
Concat frame 67. Dataframe with data (row,col) : (11634, 8).
Concat frame 68. Dataframe with data (row,col) : (11869, 8).
Concat frame 69. Dataframe with data (row,col) : (12118, 8).
Concat frame 70. Dataframe with data (row,col) : (12414, 8).
Concat frame 71. Dataframe with data (row,col) : (12414, 8).
Concat frame 72. Dataframe with data (row,col) : (12414, 8).
Concat frame 73. Dataframe with data (row,col) : (12675, 8).
Concat frame 74. Dataframe with data (row,col) : (12936, 8).
Concat frame 75. Dataframe with data (row,col) : (13202, 8).
Concat frame 76. Dataframe with data (row,col) : (13495, 8).
Concat frame 77. Dataframe with data (row,col) : (13804, 8).
Concat frame 78. Dataframe with data (row,col) : (13804, 8).
Concat frame 79. Dataframe with data (row,col) : (13804, 8).
Concat frame 80. Dataframe with data (row,col) : (14091, 8).
Concat frame 81. Dataframe with data (row,col) : (14392, 8).
Concat frame 82. Dataframe with data (row,col) : (14675, 8).
Concat frame 83. Dataframe with data (row,col) : (14675, 8).
Concat frame 84. Dataframe with data (row,col) : (14950, 8).
Concat frame 85. Dataframe with data (row,col) : (14950, 8).
Concat frame 86. Dataframe with data (row,col) : (14950, 8).
Concat frame 87. Dataframe with data (row,col) : (15243, 8).
Concat frame 88. Dataframe with data (row,col) : (15243, 8).
Concat frame 89. Dataframe with data (row,col) : (15243, 8).

 46%|█████████████████████████████████████▌                                            | 11/24 [02:34<02:55, 13.48s/it]

Len list of df 11
['retrieving figi: BBG00MF4JRQ8 ticker: VTBB']
Concat frame 0. Dataframe with data (row,col) : (178, 8).
Concat frame 1. Dataframe with data (row,col) : (178, 8).
Concat frame 2. Dataframe with data (row,col) : (178, 8).
Concat frame 3. Dataframe with data (row,col) : (325, 8).
Concat frame 4. Dataframe with data (row,col) : (457, 8).
Concat frame 5. Dataframe with data (row,col) : (654, 8).
Concat frame 6. Dataframe with data (row,col) : (822, 8).
Concat frame 7. Dataframe with data (row,col) : (1014, 8).
Concat frame 8. Dataframe with data (row,col) : (1014, 8).
Concat frame 9. Dataframe with data (row,col) : (1014, 8).
Concat frame 10. Dataframe with data (row,col) : (1249, 8).
Concat frame 11. Dataframe with data (row,col) : (1466, 8).
Concat frame 12. Dataframe with data (row,col) : (1671, 8).
Concat frame 13. Dataframe with data (row,col) : (1839, 8).
Concat frame 14. Dataframe with data (row,col) : (2091, 8).
Concat frame 15. Dataframe with data (row,col) : (2091, 8).
Concat frame 16. Dataframe with data (row,col) : (2091, 8).
Concat frame 17. Dataframe with data (row,col) : (2393, 8).
Concat frame 18. Dataframe with data (row,col) : (2778, 8).
Concat frame 19. Dataframe with data (row,col) : (3147, 8).
Concat frame 20. Dataframe with data (row,col) : (3500, 8).
Concat frame 21. Dataframe with data (row,col) : (3500, 8).
Concat frame 22. Dataframe with data (row,col) : (3500, 8).
Concat frame 23. Dataframe with data (row,col) : (3500, 8).
Concat frame 24. Dataframe with data (row,col) : (3803, 8).
Concat frame 25. Dataframe with data (row,col) : (4026, 8).
Concat frame 26. Dataframe with data (row,col) : (4248, 8).
Concat frame 27. Dataframe with data (row,col) : (4514, 8).
Concat frame 28. Dataframe with data (row,col) : (4855, 8).
Concat frame 29. Dataframe with data (row,col) : (4855, 8).
Concat frame 30. Dataframe with data (row,col) : (4855, 8).
Concat frame 31. Dataframe with data (row,col) : (5241, 8).
Concat frame 32. Dataframe with data (row,col) : (5536, 8).
Concat frame 33. Dataframe with data (row,col) : (5842, 8).
Concat frame 34. Dataframe with data (row,col) : (6179, 8).
Concat frame 35. Dataframe with data (row,col) : (6179, 8).
Concat frame 36. Dataframe with data (row,col) : (6179, 8).
Concat frame 37. Dataframe with data (row,col) : (6179, 8).
Concat frame 38. Dataframe with data (row,col) : (6402, 8).
Concat frame 39. Dataframe with data (row,col) : (6652, 8).
Concat frame 40. Dataframe with data (row,col) : (6857, 8).
Concat frame 41. Dataframe with data (row,col) : (7090, 8).
Concat frame 42. Dataframe with data (row,col) : (7336, 8).
Concat frame 43. Dataframe with data (row,col) : (7336, 8).
Concat frame 44. Dataframe with data (row,col) : (7336, 8).
Concat frame 45. Dataframe with data (row,col) : (7594, 8).
Concat frame 46. Dataframe with data (row,col) : (7819, 8).
Concat frame 47. Dataframe with data (row,col) : (8059, 8).
Concat frame 48. Dataframe with data (row,col) : (8293, 8).
Concat frame 49. Dataframe with data (row,col) : (8594, 8).
Concat frame 50. Dataframe with data (row,col) : (8594, 8).
Concat frame 51. Dataframe with data (row,col) : (8594, 8).
Concat frame 52. Dataframe with data (row,col) : (8821, 8).
Concat frame 53. Dataframe with data (row,col) : (9041, 8).
Concat frame 54. Dataframe with data (row,col) : (9305, 8).
Concat frame 55. Dataframe with data (row,col) : (9572, 8).
Concat frame 56. Dataframe with data (row,col) : (9873, 8).
Concat frame 57. Dataframe with data (row,col) : (9873, 8).
Concat frame 58. Dataframe with data (row,col) : (9873, 8).
Concat frame 59. Dataframe with data (row,col) : (10127, 8).
Concat frame 60. Dataframe with data (row,col) : (10352, 8).
Concat frame 61. Dataframe with data (row,col) : (10589, 8).
Concat frame 62. Dataframe with data (row,col) : (10833, 8).
Concat frame 63. Dataframe with data (row,col) : (11092, 8).
Concat frame 64. Dataframe with data (row,col) : (11092, 8).
Concat frame 65. Dataframe with data (row,col) : (11092, 8).
Concat frame 66. Dataframe with data (row,col) : (11318, 8).
Concat frame 67. Dataframe with data (row,col) : (11557, 8).
Concat frame 68. Dataframe with data (row,col) : (11794, 8).
Concat frame 69. Dataframe with data (row,col) : (12015, 8).
Concat frame 70. Dataframe with data (row,col) : (12232, 8).
Concat frame 71. Dataframe with data (row,col) : (12232, 8).
Concat frame 72. Dataframe with data (row,col) : (12232, 8).
Concat frame 73. Dataframe with data (row,col) : (12467, 8).
Concat frame 74. Dataframe with data (row,col) : (12615, 8).
Concat frame 75. Dataframe with data (row,col) : (12757, 8).
Concat frame 76. Dataframe with data (row,col) : (12958, 8).
Concat frame 77. Dataframe with data (row,col) : (13189, 8).
Concat frame 78. Dataframe with data (row,col) : (13189, 8).
Concat frame 79. Dataframe with data (row,col) : (13189, 8).
Concat frame 80. Dataframe with data (row,col) : (13414, 8).
Concat frame 81. Dataframe with data (row,col) : (13623, 8).
Concat frame 82. Dataframe with data (row,col) : (13793, 8).
Concat frame 83. Dataframe with data (row,col) : (13793, 8).
Concat frame 84. Dataframe with data (row,col) : (13972, 8).
Concat frame 85. Dataframe with data (row,col) : (13972, 8).
Concat frame 86. Dataframe with data (row,col) : (13972, 8).
Concat frame 87. Dataframe with data (row,col) : (14153, 8).
Concat frame 88. Dataframe with data (row,col) : (14153, 8).
Concat frame 89. Dataframe with data (row,col) : (14153, 8).

 50%|█████████████████████████████████████████                                         | 12/24 [02:45<02:35, 12.94s/it]

Len list of df 12
['retrieving figi: BBG00R980XY3 ticker: FXRW']
Concat frame 0. Dataframe with data (row,col) : (484, 8).
Concat frame 1. Dataframe with data (row,col) : (484, 8).
Concat frame 2. Dataframe with data (row,col) : (484, 8).
Concat frame 3. Dataframe with data (row,col) : (965, 8).
Concat frame 4. Dataframe with data (row,col) : (1433, 8).
Concat frame 5. Dataframe with data (row,col) : (1928, 8).
Concat frame 6. Dataframe with data (row,col) : (2416, 8).
Concat frame 7. Dataframe with data (row,col) : (2921, 8).
Concat frame 8. Dataframe with data (row,col) : (2921, 8).
Concat frame 9. Dataframe with data (row,col) : (2921, 8).
Concat frame 10. Dataframe with data (row,col) : (3419, 8).
Concat frame 11. Dataframe with data (row,col) : (3890, 8).
Concat frame 12. Dataframe with data (row,col) : (4368, 8).
Concat frame 13. Dataframe with data (row,col) : (4830, 8).
Concat frame 14. Dataframe with data (row,col) : (5314, 8).
Concat frame 15. Dataframe with data (row,col) : (5314, 8).
Concat frame 16. Dataframe with data (row,col) : (5314, 8).
Concat frame 17. Dataframe with data (row,col) : (5813, 8).
Concat frame 18. Dataframe with data (row,col) : (6303, 8).
Concat frame 19. Dataframe with data (row,col) : (6807, 8).
Concat frame 20. Dataframe with data (row,col) : (7324, 8).
Concat frame 21. Dataframe with data (row,col) : (7324, 8).
Concat frame 22. Dataframe with data (row,col) : (7324, 8).
Concat frame 23. Dataframe with data (row,col) : (7324, 8).
Concat frame 24. Dataframe with data (row,col) : (7812, 8).
Concat frame 25. Dataframe with data (row,col) : (8251, 8).
Concat frame 26. Dataframe with data (row,col) : (8687, 8).
Concat frame 27. Dataframe with data (row,col) : (9176, 8).
Concat frame 28. Dataframe with data (row,col) : (9681, 8).
Concat frame 29. Dataframe with data (row,col) : (9681, 8).
Concat frame 30. Dataframe with data (row,col) : (9681, 8).
Concat frame 31. Dataframe with data (row,col) : (10181, 8).
Concat frame 32. Dataframe with data (row,col) : (10650, 8).
Concat frame 33. Dataframe with data (row,col) : (11139, 8).
Concat frame 34. Dataframe with data (row,col) : (11621, 8).
Concat frame 35. Dataframe with data (row,col) : (11621, 8).
Concat frame 36. Dataframe with data (row,col) : (11621, 8).
Concat frame 37. Dataframe with data (row,col) : (11621, 8).
Concat frame 38. Dataframe with data (row,col) : (12059, 8).
Concat frame 39. Dataframe with data (row,col) : (12509, 8).
Concat frame 40. Dataframe with data (row,col) : (12933, 8).
Concat frame 41. Dataframe with data (row,col) : (13358, 8).
Concat frame 42. Dataframe with data (row,col) : (13819, 8).
Concat frame 43. Dataframe with data (row,col) : (13819, 8).
Concat frame 44. Dataframe with data (row,col) : (13819, 8).
Concat frame 45. Dataframe with data (row,col) : (14286, 8).
Concat frame 46. Dataframe with data (row,col) : (14748, 8).
Concat frame 47. Dataframe with data (row,col) : (15215, 8).
Concat frame 48. Dataframe with data (row,col) : (15689, 8).
Concat frame 49. Dataframe with data (row,col) : (16171, 8).
Concat frame 50. Dataframe with data (row,col) : (16171, 8).
Concat frame 51. Dataframe with data (row,col) : (16171, 8).
Concat frame 52. Dataframe with data (row,col) : (16651, 8).
Concat frame 53. Dataframe with data (row,col) : (17131, 8).
Concat frame 54. Dataframe with data (row,col) : (17615, 8).
Concat frame 55. Dataframe with data (row,col) : (18102, 8).
Concat frame 56. Dataframe with data (row,col) : (18577, 8).
Concat frame 57. Dataframe with data (row,col) : (18577, 8).
Concat frame 58. Dataframe with data (row,col) : (18577, 8).
Concat frame 59. Dataframe with data (row,col) : (19046, 8).
Concat frame 60. Dataframe with data (row,col) : (19474, 8).
Concat frame 61. Dataframe with data (row,col) : (19942, 8).
Concat frame 62. Dataframe with data (row,col) : (20396, 8).
Concat frame 63. Dataframe with data (row,col) : (20893, 8).
Concat frame 64. Dataframe with data (row,col) : (20893, 8).
Concat frame 65. Dataframe with data (row,col) : (20893, 8).
Concat frame 66. Dataframe with data (row,col) : (21362, 8).
Concat frame 67. Dataframe with data (row,col) : (21855, 8).
Concat frame 68. Dataframe with data (row,col) : (22342, 8).
Concat frame 69. Dataframe with data (row,col) : (22833, 8).
Concat frame 70. Dataframe with data (row,col) : (23343, 8).
Concat frame 71. Dataframe with data (row,col) : (23343, 8).
Concat frame 72. Dataframe with data (row,col) : (23343, 8).
Concat frame 73. Dataframe with data (row,col) : (23855, 8).
Concat frame 74. Dataframe with data (row,col) : (24316, 8).
Concat frame 75. Dataframe with data (row,col) : (24316, 8).
Concat frame 76. Dataframe with data (row,col) : (24316, 8).
Concat frame 77. Dataframe with data (row,col) : (24316, 8).
Concat frame 78. Dataframe with data (row,col) : (24316, 8).
Concat frame 79. Dataframe with data (row,col) : (24316, 8).
Concat frame 80. Dataframe with data (row,col) : (24316, 8).
Concat frame 81. Dataframe with data (row,col) : (24316, 8).
Concat frame 82. Dataframe with data (row,col) : (24316, 8).
Concat frame 83. Dataframe with data (row,col) : (24316, 8).
Concat frame 84. Dataframe with data (row,col) : (24316, 8).
Concat frame 85. Dataframe with data (row,col) : (24316, 8).
Concat frame 86. Dataframe with data (row,col) : (24316, 8).
Concat frame 87. Dataframe with data (row,col) : (24316, 8).
Concat frame 88. Dataframe with data (row,col) : (24316, 8).
Concat frame 89. Dataframe with data (row,col) : (24316, 8).

 54%|████████████████████████████████████████████▍                                     | 13/24 [03:01<02:30, 13.70s/it]

Len list of df 13
['retrieving figi: BBG00M0C8YM7 ticker: SBMX']
Concat frame 0. Dataframe with data (row,col) : (386, 8).
Concat frame 1. Dataframe with data (row,col) : (386, 8).
Concat frame 2. Dataframe with data (row,col) : (386, 8).
Concat frame 3. Dataframe with data (row,col) : (777, 8).
Concat frame 4. Dataframe with data (row,col) : (1156, 8).
Concat frame 5. Dataframe with data (row,col) : (1607, 8).
Concat frame 6. Dataframe with data (row,col) : (1997, 8).
Concat frame 7. Dataframe with data (row,col) : (2378, 8).
Concat frame 8. Dataframe with data (row,col) : (2378, 8).
Concat frame 9. Dataframe with data (row,col) : (2378, 8).
Concat frame 10. Dataframe with data (row,col) : (2827, 8).
Concat frame 11. Dataframe with data (row,col) : (3231, 8).
Concat frame 12. Dataframe with data (row,col) : (3670, 8).
Concat frame 13. Dataframe with data (row,col) : (4050, 8).
Concat frame 14. Dataframe with data (row,col) : (4490, 8).
Concat frame 15. Dataframe with data (row,col) : (4490, 8).
Concat frame 16. Dataframe with data (row,col) : (4490, 8).
Concat frame 17. Dataframe with data (row,col) : (4969, 8).
Concat frame 18. Dataframe with data (row,col) : (5446, 8).
Concat frame 19. Dataframe with data (row,col) : (5910, 8).
Concat frame 20. Dataframe with data (row,col) : (6389, 8).
Concat frame 21. Dataframe with data (row,col) : (6389, 8).
Concat frame 22. Dataframe with data (row,col) : (6389, 8).
Concat frame 23. Dataframe with data (row,col) : (6389, 8).
Concat frame 24. Dataframe with data (row,col) : (6823, 8).
Concat frame 25. Dataframe with data (row,col) : (7187, 8).
Concat frame 26. Dataframe with data (row,col) : (7546, 8).
Concat frame 27. Dataframe with data (row,col) : (7949, 8).
Concat frame 28. Dataframe with data (row,col) : (8405, 8).
Concat frame 29. Dataframe with data (row,col) : (8405, 8).
Concat frame 30. Dataframe with data (row,col) : (8405, 8).
Concat frame 31. Dataframe with data (row,col) : (8870, 8).
Concat frame 32. Dataframe with data (row,col) : (9233, 8).
Concat frame 33. Dataframe with data (row,col) : (9632, 8).
Concat frame 34. Dataframe with data (row,col) : (10041, 8).
Concat frame 35. Dataframe with data (row,col) : (10041, 8).
Concat frame 36. Dataframe with data (row,col) : (10041, 8).
Concat frame 37. Dataframe with data (row,col) : (10041, 8).
Concat frame 38. Dataframe with data (row,col) : (10317, 8).
Concat frame 39. Dataframe with data (row,col) : (10639, 8).
Concat frame 40. Dataframe with data (row,col) : (10914, 8).
Concat frame 41. Dataframe with data (row,col) : (11213, 8).
Concat frame 42. Dataframe with data (row,col) : (11543, 8).
Concat frame 43. Dataframe with data (row,col) : (11543, 8).
Concat frame 44. Dataframe with data (row,col) : (11543, 8).
Concat frame 45. Dataframe with data (row,col) : (11863, 8).
Concat frame 46. Dataframe with data (row,col) : (12161, 8).
Concat frame 47. Dataframe with data (row,col) : (12502, 8).
Concat frame 48. Dataframe with data (row,col) : (12885, 8).
Concat frame 49. Dataframe with data (row,col) : (13265, 8).
Concat frame 50. Dataframe with data (row,col) : (13265, 8).
Concat frame 51. Dataframe with data (row,col) : (13265, 8).
Concat frame 52. Dataframe with data (row,col) : (13645, 8).
Concat frame 53. Dataframe with data (row,col) : (13999, 8).
Concat frame 54. Dataframe with data (row,col) : (14355, 8).
Concat frame 55. Dataframe with data (row,col) : (14683, 8).
Concat frame 56. Dataframe with data (row,col) : (15019, 8).
Concat frame 57. Dataframe with data (row,col) : (15019, 8).
Concat frame 58. Dataframe with data (row,col) : (15019, 8).
Concat frame 59. Dataframe with data (row,col) : (15336, 8).
Concat frame 60. Dataframe with data (row,col) : (15604, 8).
Concat frame 61. Dataframe with data (row,col) : (15903, 8).
Concat frame 62. Dataframe with data (row,col) : (16218, 8).
Concat frame 63. Dataframe with data (row,col) : (16580, 8).
Concat frame 64. Dataframe with data (row,col) : (16580, 8).
Concat frame 65. Dataframe with data (row,col) : (16580, 8).
Concat frame 66. Dataframe with data (row,col) : (16896, 8).
Concat frame 67. Dataframe with data (row,col) : (17236, 8).
Concat frame 68. Dataframe with data (row,col) : (17593, 8).
Concat frame 69. Dataframe with data (row,col) : (17964, 8).
Concat frame 70. Dataframe with data (row,col) : (18328, 8).
Concat frame 71. Dataframe with data (row,col) : (18328, 8).
Concat frame 72. Dataframe with data (row,col) : (18328, 8).
Concat frame 73. Dataframe with data (row,col) : (18633, 8).
Concat frame 74. Dataframe with data (row,col) : (18905, 8).
Concat frame 75. Dataframe with data (row,col) : (19192, 8).
Concat frame 76. Dataframe with data (row,col) : (19521, 8).
Concat frame 77. Dataframe with data (row,col) : (19849, 8).
Concat frame 78. Dataframe with data (row,col) : (19849, 8).
Concat frame 79. Dataframe with data (row,col) : (19849, 8).
Concat frame 80. Dataframe with data (row,col) : (20169, 8).
Concat frame 81. Dataframe with data (row,col) : (20482, 8).
Concat frame 82. Dataframe with data (row,col) : (20745, 8).
Concat frame 83. Dataframe with data (row,col) : (20745, 8).
Concat frame 84. Dataframe with data (row,col) : (21025, 8).
Concat frame 85. Dataframe with data (row,col) : (21025, 8).
Concat frame 86. Dataframe with data (row,col) : (21025, 8).
Concat frame 87. Dataframe with data (row,col) : (21328, 8).
Concat frame 88. Dataframe with data (row,col) : (21328, 8).
Concat frame 89. Dataframe with data (row,col) : (21328, 8).

 58%|███████████████████████████████████████████████▊                                  | 14/24 [03:15<02:17, 13.72s/it]

Len list of df 14
['retrieving figi: BBG005HM5979 ticker: FXJP']
Concat frame 0. Dataframe with data (row,col) : (0, 0).
Concat frame 1. Dataframe with data (row,col) : (0, 0).
Concat frame 2. Dataframe with data (row,col) : (0, 0).
Concat frame 3. Dataframe with data (row,col) : (0, 0).
Concat frame 4. Dataframe with data (row,col) : (0, 0).
Concat frame 5. Dataframe with data (row,col) : (0, 0).
Concat frame 6. Dataframe with data (row,col) : (0, 0).
Concat frame 7. Dataframe with data (row,col) : (0, 0).
Concat frame 8. Dataframe with data (row,col) : (0, 0).
Concat frame 9. Dataframe with data (row,col) : (0, 0).
Concat frame 10. Dataframe with data (row,col) : (0, 0).
Concat frame 11. Dataframe with data (row,col) : (0, 0).
Concat frame 12. Dataframe with data (row,col) : (0, 0).
Concat frame 13. Dataframe with data (row,col) : (0, 0).
Concat frame 14. Dataframe with data (row,col) : (0, 0).
Concat frame 15. Dataframe with data (row,col) : (0, 0).
Concat frame 16. Dataframe with data (row,col) : (0, 0).
Concat frame 17. Dataframe with data (row,col) : (0, 0).
Concat frame 18. Dataframe with data (row,col) : (0, 0).
Concat frame 19. Dataframe with data (row,col) : (0, 0).
Concat frame 20. Dataframe with data (row,col) : (0, 0).
Concat frame 21. Dataframe with data (row,col) : (0, 0).
Concat frame 22. Dataframe with data (row,col) : (0, 0).
Concat frame 23. Dataframe with data (row,col) : (0, 0).
Concat frame 24. Dataframe with data (row,col) : (0, 0).
Concat frame 25. Dataframe with data (row,col) : (0, 0).
Concat frame 26. Dataframe with data (row,col) : (0, 0).
Concat frame 27. Dataframe with data (row,col) : (0, 0).
Concat frame 28. Dataframe with data (row,col) : (0, 0).
Concat frame 29. Dataframe with data (row,col) : (0, 0).
Concat frame 30. Dataframe with data (row,col) : (0, 0).
Concat frame 31. Dataframe with data (row,col) : (0, 0).
Concat frame 32. Dataframe with data (row,col) : (0, 0).
Concat frame 33. Dataframe with data (row,col) : (0, 0).
Concat frame 34. Dataframe with data (row,col) : (0, 0).
Concat frame 35. Dataframe with data (row,col) : (0, 0).
Concat frame 36. Dataframe with data (row,col) : (0, 0).
Concat frame 37. Dataframe with data (row,col) : (0, 0).
Concat frame 38. Dataframe with data (row,col) : (0, 0).
Concat frame 39. Dataframe with data (row,col) : (0, 0).
Concat frame 40. Dataframe with data (row,col) : (0, 0).
Concat frame 41. Dataframe with data (row,col) : (0, 0).
Concat frame 42. Dataframe with data (row,col) : (0, 0).
Concat frame 43. Dataframe with data (row,col) : (0, 0).
Concat frame 44. Dataframe with data (row,col) : (0, 0).
Concat frame 45. Dataframe with data (row,col) : (362, 8).
Concat frame 46. Dataframe with data (row,col) : (526, 8).
Concat frame 47. Dataframe with data (row,col) : (726, 8).
Concat frame 48. Dataframe with data (row,col) : (859, 8).
Concat frame 49. Dataframe with data (row,col) : (1009, 8).
Concat frame 50. Dataframe with data (row,col) : (1009, 8).
Concat frame 51. Dataframe with data (row,col) : (1009, 8).
Concat frame 52. Dataframe with data (row,col) : (1174, 8).
Concat frame 53. Dataframe with data (row,col) : (1355, 8).
Concat frame 54. Dataframe with data (row,col) : (1454, 8).
Concat frame 55. Dataframe with data (row,col) : (1578, 8).
Concat frame 56. Dataframe with data (row,col) : (1722, 8).
Concat frame 57. Dataframe with data (row,col) : (1722, 8).
Concat frame 58. Dataframe with data (row,col) : (1722, 8).
Concat frame 59. Dataframe with data (row,col) : (1808, 8).
Concat frame 60. Dataframe with data (row,col) : (1927, 8).
Concat frame 61. Dataframe with data (row,col) : (2033, 8).
Concat frame 62. Dataframe with data (row,col) : (2140, 8).
Concat frame 63. Dataframe with data (row,col) : (2305, 8).
Concat frame 64. Dataframe with data (row,col) : (2305, 8).
Concat frame 65. Dataframe with data (row,col) : (2305, 8).
Concat frame 66. Dataframe with data (row,col) : (2453, 8).
Concat frame 67. Dataframe with data (row,col) : (2613, 8).
Concat frame 68. Dataframe with data (row,col) : (2817, 8).
Concat frame 69. Dataframe with data (row,col) : (3077, 8).
Concat frame 70. Dataframe with data (row,col) : (3369, 8).
Concat frame 71. Dataframe with data (row,col) : (3369, 8).
Concat frame 72. Dataframe with data (row,col) : (3369, 8).
Concat frame 73. Dataframe with data (row,col) : (3695, 8).
Concat frame 74. Dataframe with data (row,col) : (3875, 8).
Concat frame 75. Dataframe with data (row,col) : (3989, 8).
Concat frame 76. Dataframe with data (row,col) : (4121, 8).
Concat frame 77. Dataframe with data (row,col) : (4267, 8).
Concat frame 78. Dataframe with data (row,col) : (4267, 8).
Concat frame 79. Dataframe with data (row,col) : (4267, 8).
Concat frame 80. Dataframe with data (row,col) : (4399, 8).
Concat frame 81. Dataframe with data (row,col) : (4533, 8).
Concat frame 82. Dataframe with data (row,col) : (4649, 8).
Concat frame 83. Dataframe with data (row,col) : (4649, 8).
Concat frame 84. Dataframe with data (row,col) : (4752, 8).
Concat frame 85. Dataframe with data (row,col) : (4752, 8).
Concat frame 86. Dataframe with data (row,col) : (4752, 8).
Concat frame 87. Dataframe with data (row,col) : (4904, 8).
Concat frame 88. Dataframe with data (row,col) : (4904, 8).
Concat frame 89. Dataframe with data (row,col) : (4904, 8).

 62%|███████████████████████████████████████████████████▎                              | 15/24 [03:25<01:53, 12.66s/it]

Len list of df 15
['retrieving figi: BBG006GYFHV6 ticker: FXMM']
Concat frame 0. Dataframe with data (row,col) : (345, 8).
Concat frame 1. Dataframe with data (row,col) : (345, 8).
Concat frame 2. Dataframe with data (row,col) : (345, 8).
Concat frame 3. Dataframe with data (row,col) : (678, 8).
Concat frame 4. Dataframe with data (row,col) : (964, 8).
Concat frame 5. Dataframe with data (row,col) : (1312, 8).
Concat frame 6. Dataframe with data (row,col) : (1627, 8).
Concat frame 7. Dataframe with data (row,col) : (1934, 8).
Concat frame 8. Dataframe with data (row,col) : (1934, 8).
Concat frame 9. Dataframe with data (row,col) : (1934, 8).
Concat frame 10. Dataframe with data (row,col) : (2300, 8).
Concat frame 11. Dataframe with data (row,col) : (2625, 8).
Concat frame 12. Dataframe with data (row,col) : (2986, 8).
Concat frame 13. Dataframe with data (row,col) : (3336, 8).
Concat frame 14. Dataframe with data (row,col) : (3790, 8).
Concat frame 15. Dataframe with data (row,col) : (3790, 8).
Concat frame 16. Dataframe with data (row,col) : (3790, 8).
Concat frame 17. Dataframe with data (row,col) : (4176, 8).
Concat frame 18. Dataframe with data (row,col) : (4652, 8).
Concat frame 19. Dataframe with data (row,col) : (5061, 8).
Concat frame 20. Dataframe with data (row,col) : (5527, 8).
Concat frame 21. Dataframe with data (row,col) : (5527, 8).
Concat frame 22. Dataframe with data (row,col) : (5527, 8).
Concat frame 23. Dataframe with data (row,col) : (5527, 8).
Concat frame 24. Dataframe with data (row,col) : (5972, 8).
Concat frame 25. Dataframe with data (row,col) : (6305, 8).
Concat frame 26. Dataframe with data (row,col) : (6614, 8).
Concat frame 27. Dataframe with data (row,col) : (6972, 8).
Concat frame 28. Dataframe with data (row,col) : (7384, 8).
Concat frame 29. Dataframe with data (row,col) : (7384, 8).
Concat frame 30. Dataframe with data (row,col) : (7384, 8).
Concat frame 31. Dataframe with data (row,col) : (7846, 8).
Concat frame 32. Dataframe with data (row,col) : (8229, 8).
Concat frame 33. Dataframe with data (row,col) : (8585, 8).
Concat frame 34. Dataframe with data (row,col) : (8953, 8).
Concat frame 35. Dataframe with data (row,col) : (8953, 8).
Concat frame 36. Dataframe with data (row,col) : (8953, 8).
Concat frame 37. Dataframe with data (row,col) : (8953, 8).
Concat frame 38. Dataframe with data (row,col) : (9224, 8).
Concat frame 39. Dataframe with data (row,col) : (9490, 8).
Concat frame 40. Dataframe with data (row,col) : (9756, 8).
Concat frame 41. Dataframe with data (row,col) : (10044, 8).
Concat frame 42. Dataframe with data (row,col) : (10355, 8).
Concat frame 43. Dataframe with data (row,col) : (10355, 8).
Concat frame 44. Dataframe with data (row,col) : (10355, 8).
Concat frame 45. Dataframe with data (row,col) : (10667, 8).
Concat frame 46. Dataframe with data (row,col) : (10946, 8).
Concat frame 47. Dataframe with data (row,col) : (11217, 8).
Concat frame 48. Dataframe with data (row,col) : (11518, 8).
Concat frame 49. Dataframe with data (row,col) : (11872, 8).
Concat frame 50. Dataframe with data (row,col) : (11872, 8).
Concat frame 51. Dataframe with data (row,col) : (11872, 8).
Concat frame 52. Dataframe with data (row,col) : (12185, 8).
Concat frame 53. Dataframe with data (row,col) : (12481, 8).
Concat frame 54. Dataframe with data (row,col) : (12796, 8).
Concat frame 55. Dataframe with data (row,col) : (13098, 8).
Concat frame 56. Dataframe with data (row,col) : (13458, 8).
Concat frame 57. Dataframe with data (row,col) : (13458, 8).
Concat frame 58. Dataframe with data (row,col) : (13458, 8).
Concat frame 59. Dataframe with data (row,col) : (13765, 8).
Concat frame 60. Dataframe with data (row,col) : (14047, 8).
Concat frame 61. Dataframe with data (row,col) : (14318, 8).
Concat frame 62. Dataframe with data (row,col) : (14605, 8).
Concat frame 63. Dataframe with data (row,col) : (14937, 8).
Concat frame 64. Dataframe with data (row,col) : (14937, 8).
Concat frame 65. Dataframe with data (row,col) : (14937, 8).
Concat frame 66. Dataframe with data (row,col) : (15214, 8).
Concat frame 67. Dataframe with data (row,col) : (15480, 8).
Concat frame 68. Dataframe with data (row,col) : (15738, 8).
Concat frame 69. Dataframe with data (row,col) : (16030, 8).
Concat frame 70. Dataframe with data (row,col) : (16360, 8).
Concat frame 71. Dataframe with data (row,col) : (16360, 8).
Concat frame 72. Dataframe with data (row,col) : (16360, 8).
Concat frame 73. Dataframe with data (row,col) : (16664, 8).
Concat frame 74. Dataframe with data (row,col) : (16959, 8).
Concat frame 75. Dataframe with data (row,col) : (17255, 8).
Concat frame 76. Dataframe with data (row,col) : (17558, 8).
Concat frame 77. Dataframe with data (row,col) : (17888, 8).
Concat frame 78. Dataframe with data (row,col) : (17888, 8).
Concat frame 79. Dataframe with data (row,col) : (17888, 8).
Concat frame 80. Dataframe with data (row,col) : (18187, 8).
Concat frame 81. Dataframe with data (row,col) : (18496, 8).
Concat frame 82. Dataframe with data (row,col) : (18789, 8).
Concat frame 83. Dataframe with data (row,col) : (18789, 8).
Concat frame 84. Dataframe with data (row,col) : (19100, 8).
Concat frame 85. Dataframe with data (row,col) : (19100, 8).
Concat frame 86. Dataframe with data (row,col) : (19100, 8).
Concat frame 87. Dataframe with data (row,col) : (19403, 8).
Concat frame 88. Dataframe with data (row,col) : (19403, 8).
Concat frame 89. Dataframe with data (row,col) : (19403, 8).

 67%|██████████████████████████████████████████████████████▋                           | 16/24 [03:38<01:41, 12.73s/it]

Len list of df 16
['retrieving figi: BBG00KMXFK61 ticker: RUSE']
Concat frame 0. Dataframe with data (row,col) : (183, 8).
Concat frame 1. Dataframe with data (row,col) : (183, 8).
Concat frame 2. Dataframe with data (row,col) : (183, 8).
Concat frame 3. Dataframe with data (row,col) : (360, 8).
Concat frame 4. Dataframe with data (row,col) : (550, 8).
Concat frame 5. Dataframe with data (row,col) : (872, 8).
Concat frame 6. Dataframe with data (row,col) : (1085, 8).
Concat frame 7. Dataframe with data (row,col) : (1283, 8).
Concat frame 8. Dataframe with data (row,col) : (1283, 8).
Concat frame 9. Dataframe with data (row,col) : (1283, 8).
Concat frame 10. Dataframe with data (row,col) : (1595, 8).
Concat frame 11. Dataframe with data (row,col) : (1796, 8).
Concat frame 12. Dataframe with data (row,col) : (2001, 8).
Concat frame 13. Dataframe with data (row,col) : (2187, 8).
Concat frame 14. Dataframe with data (row,col) : (2419, 8).
Concat frame 15. Dataframe with data (row,col) : (2419, 8).
Concat frame 16. Dataframe with data (row,col) : (2419, 8).
Concat frame 17. Dataframe with data (row,col) : (2687, 8).
Concat frame 18. Dataframe with data (row,col) : (2959, 8).
Concat frame 19. Dataframe with data (row,col) : (3191, 8).
Concat frame 20. Dataframe with data (row,col) : (3520, 8).
Concat frame 21. Dataframe with data (row,col) : (3520, 8).
Concat frame 22. Dataframe with data (row,col) : (3520, 8).
Concat frame 23. Dataframe with data (row,col) : (3520, 8).
Concat frame 24. Dataframe with data (row,col) : (3738, 8).
Concat frame 25. Dataframe with data (row,col) : (3908, 8).
Concat frame 26. Dataframe with data (row,col) : (4036, 8).
Concat frame 27. Dataframe with data (row,col) : (4238, 8).
Concat frame 28. Dataframe with data (row,col) : (4495, 8).
Concat frame 29. Dataframe with data (row,col) : (4495, 8).
Concat frame 30. Dataframe with data (row,col) : (4495, 8).
Concat frame 31. Dataframe with data (row,col) : (4780, 8).
Concat frame 32. Dataframe with data (row,col) : (4979, 8).
Concat frame 33. Dataframe with data (row,col) : (5186, 8).
Concat frame 34. Dataframe with data (row,col) : (5420, 8).
Concat frame 35. Dataframe with data (row,col) : (5420, 8).
Concat frame 36. Dataframe with data (row,col) : (5420, 8).
Concat frame 37. Dataframe with data (row,col) : (5420, 8).
Concat frame 38. Dataframe with data (row,col) : (5544, 8).
Concat frame 39. Dataframe with data (row,col) : (5680, 8).
Concat frame 40. Dataframe with data (row,col) : (5817, 8).
Concat frame 41. Dataframe with data (row,col) : (5968, 8).
Concat frame 42. Dataframe with data (row,col) : (6130, 8).
Concat frame 43. Dataframe with data (row,col) : (6130, 8).
Concat frame 44. Dataframe with data (row,col) : (6130, 8).
Concat frame 45. Dataframe with data (row,col) : (6311, 8).
Concat frame 46. Dataframe with data (row,col) : (6436, 8).
Concat frame 47. Dataframe with data (row,col) : (6563, 8).
Concat frame 48. Dataframe with data (row,col) : (6682, 8).
Concat frame 49. Dataframe with data (row,col) : (6857, 8).
Concat frame 50. Dataframe with data (row,col) : (6857, 8).
Concat frame 51. Dataframe with data (row,col) : (6857, 8).
Concat frame 52. Dataframe with data (row,col) : (7003, 8).
Concat frame 53. Dataframe with data (row,col) : (7148, 8).
Concat frame 54. Dataframe with data (row,col) : (7301, 8).
Concat frame 55. Dataframe with data (row,col) : (7430, 8).
Concat frame 56. Dataframe with data (row,col) : (7580, 8).
Concat frame 57. Dataframe with data (row,col) : (7580, 8).
Concat frame 58. Dataframe with data (row,col) : (7580, 8).
Concat frame 59. Dataframe with data (row,col) : (7701, 8).
Concat frame 60. Dataframe with data (row,col) : (7797, 8).
Concat frame 61. Dataframe with data (row,col) : (7948, 8).
Concat frame 62. Dataframe with data (row,col) : (8103, 8).
Concat frame 63. Dataframe with data (row,col) : (8307, 8).
Concat frame 64. Dataframe with data (row,col) : (8307, 8).
Concat frame 65. Dataframe with data (row,col) : (8307, 8).
Concat frame 66. Dataframe with data (row,col) : (8455, 8).
Concat frame 67. Dataframe with data (row,col) : (8601, 8).
Concat frame 68. Dataframe with data (row,col) : (8781, 8).
Concat frame 69. Dataframe with data (row,col) : (8976, 8).
Concat frame 70. Dataframe with data (row,col) : (9235, 8).
Concat frame 71. Dataframe with data (row,col) : (9235, 8).
Concat frame 72. Dataframe with data (row,col) : (9235, 8).
Concat frame 73. Dataframe with data (row,col) : (9464, 8).
Concat frame 74. Dataframe with data (row,col) : (9630, 8).
Concat frame 75. Dataframe with data (row,col) : (9831, 8).
Concat frame 76. Dataframe with data (row,col) : (10009, 8).
Concat frame 77. Dataframe with data (row,col) : (10217, 8).
Concat frame 78. Dataframe with data (row,col) : (10217, 8).
Concat frame 79. Dataframe with data (row,col) : (10217, 8).
Concat frame 80. Dataframe with data (row,col) : (10395, 8).
Concat frame 81. Dataframe with data (row,col) : (10547, 8).
Concat frame 82. Dataframe with data (row,col) : (10712, 8).
Concat frame 83. Dataframe with data (row,col) : (10712, 8).
Concat frame 84. Dataframe with data (row,col) : (10825, 8).
Concat frame 85. Dataframe with data (row,col) : (10825, 8).
Concat frame 86. Dataframe with data (row,col) : (10825, 8).
Concat frame 87. Dataframe with data (row,col) : (10973, 8).
Concat frame 88. Dataframe with data (row,col) : (10973, 8).
Concat frame 89. Dataframe with data (row,col) : (10973, 8).

 71%|██████████████████████████████████████████████████████████                        | 17/24 [03:49<01:25, 12.28s/it]

Len list of df 17
['retrieving figi: BBG00R9805F5 ticker: FXWO']
Concat frame 0. Dataframe with data (row,col) : (490, 8).
Concat frame 1. Dataframe with data (row,col) : (490, 8).
Concat frame 2. Dataframe with data (row,col) : (490, 8).
Concat frame 3. Dataframe with data (row,col) : (941, 8).
Concat frame 4. Dataframe with data (row,col) : (1377, 8).
Concat frame 5. Dataframe with data (row,col) : (1850, 8).
Concat frame 6. Dataframe with data (row,col) : (2317, 8).
Concat frame 7. Dataframe with data (row,col) : (2808, 8).
Concat frame 8. Dataframe with data (row,col) : (2808, 8).
Concat frame 9. Dataframe with data (row,col) : (2808, 8).
Concat frame 10. Dataframe with data (row,col) : (3289, 8).
Concat frame 11. Dataframe with data (row,col) : (3760, 8).
Concat frame 12. Dataframe with data (row,col) : (4234, 8).
Concat frame 13. Dataframe with data (row,col) : (4686, 8).
Concat frame 14. Dataframe with data (row,col) : (5184, 8).
Concat frame 15. Dataframe with data (row,col) : (5184, 8).
Concat frame 16. Dataframe with data (row,col) : (5184, 8).
Concat frame 17. Dataframe with data (row,col) : (5681, 8).
Concat frame 18. Dataframe with data (row,col) : (6176, 8).
Concat frame 19. Dataframe with data (row,col) : (6654, 8).
Concat frame 20. Dataframe with data (row,col) : (7161, 8).
Concat frame 21. Dataframe with data (row,col) : (7161, 8).
Concat frame 22. Dataframe with data (row,col) : (7161, 8).
Concat frame 23. Dataframe with data (row,col) : (7161, 8).
Concat frame 24. Dataframe with data (row,col) : (7606, 8).
Concat frame 25. Dataframe with data (row,col) : (8030, 8).
Concat frame 26. Dataframe with data (row,col) : (8459, 8).
Concat frame 27. Dataframe with data (row,col) : (8911, 8).
Concat frame 28. Dataframe with data (row,col) : (9400, 8).
Concat frame 29. Dataframe with data (row,col) : (9400, 8).
Concat frame 30. Dataframe with data (row,col) : (9400, 8).
Concat frame 31. Dataframe with data (row,col) : (9880, 8).
Concat frame 32. Dataframe with data (row,col) : (10357, 8).
Concat frame 33. Dataframe with data (row,col) : (10847, 8).
Concat frame 34. Dataframe with data (row,col) : (11348, 8).
Concat frame 35. Dataframe with data (row,col) : (11348, 8).
Concat frame 36. Dataframe with data (row,col) : (11348, 8).
Concat frame 37. Dataframe with data (row,col) : (11348, 8).
Concat frame 38. Dataframe with data (row,col) : (11822, 8).
Concat frame 39. Dataframe with data (row,col) : (12281, 8).
Concat frame 40. Dataframe with data (row,col) : (12733, 8).
Concat frame 41. Dataframe with data (row,col) : (13204, 8).
Concat frame 42. Dataframe with data (row,col) : (13694, 8).
Concat frame 43. Dataframe with data (row,col) : (13694, 8).
Concat frame 44. Dataframe with data (row,col) : (13694, 8).
Concat frame 45. Dataframe with data (row,col) : (14189, 8).
Concat frame 46. Dataframe with data (row,col) : (14689, 8).
Concat frame 47. Dataframe with data (row,col) : (15185, 8).
Concat frame 48. Dataframe with data (row,col) : (15684, 8).
Concat frame 49. Dataframe with data (row,col) : (16188, 8).
Concat frame 50. Dataframe with data (row,col) : (16188, 8).
Concat frame 51. Dataframe with data (row,col) : (16188, 8).
Concat frame 52. Dataframe with data (row,col) : (16652, 8).
Concat frame 53. Dataframe with data (row,col) : (17130, 8).
Concat frame 54. Dataframe with data (row,col) : (17612, 8).
Concat frame 55. Dataframe with data (row,col) : (18119, 8).
Concat frame 56. Dataframe with data (row,col) : (18566, 8).
Concat frame 57. Dataframe with data (row,col) : (18566, 8).
Concat frame 58. Dataframe with data (row,col) : (18566, 8).
Concat frame 59. Dataframe with data (row,col) : (19025, 8).
Concat frame 60. Dataframe with data (row,col) : (19440, 8).
Concat frame 61. Dataframe with data (row,col) : (19883, 8).
Concat frame 62. Dataframe with data (row,col) : (20351, 8).
Concat frame 63. Dataframe with data (row,col) : (20834, 8).
Concat frame 64. Dataframe with data (row,col) : (20834, 8).
Concat frame 65. Dataframe with data (row,col) : (20834, 8).
Concat frame 66. Dataframe with data (row,col) : (21309, 8).
Concat frame 67. Dataframe with data (row,col) : (21796, 8).
Concat frame 68. Dataframe with data (row,col) : (22293, 8).
Concat frame 69. Dataframe with data (row,col) : (22781, 8).
Concat frame 70. Dataframe with data (row,col) : (23285, 8).
Concat frame 71. Dataframe with data (row,col) : (23285, 8).
Concat frame 72. Dataframe with data (row,col) : (23285, 8).
Concat frame 73. Dataframe with data (row,col) : (23794, 8).
Concat frame 74. Dataframe with data (row,col) : (24260, 8).
Concat frame 75. Dataframe with data (row,col) : (24260, 8).
Concat frame 76. Dataframe with data (row,col) : (24260, 8).
Concat frame 77. Dataframe with data (row,col) : (24260, 8).
Concat frame 78. Dataframe with data (row,col) : (24260, 8).
Concat frame 79. Dataframe with data (row,col) : (24260, 8).
Concat frame 80. Dataframe with data (row,col) : (24260, 8).
Concat frame 81. Dataframe with data (row,col) : (24260, 8).
Concat frame 82. Dataframe with data (row,col) : (24260, 8).
Concat frame 83. Dataframe with data (row,col) : (24260, 8).
Concat frame 84. Dataframe with data (row,col) : (24260, 8).
Concat frame 85. Dataframe with data (row,col) : (24260, 8).
Concat frame 86. Dataframe with data (row,col) : (24260, 8).
Concat frame 87. Dataframe with data (row,col) : (24260, 8).
Concat frame 88. Dataframe with data (row,col) : (24260, 8).
Concat frame 89. Dataframe with data (row,col) : (24260, 8).

 75%|█████████████████████████████████████████████████████████████▌                    | 18/24 [04:04<01:18, 13.13s/it]

Len list of df 18
['retrieving figi: BBG005H7MXN2 ticker: FXDE']
Concat frame 0. Dataframe with data (row,col) : (293, 8).
Concat frame 1. Dataframe with data (row,col) : (293, 8).
Concat frame 2. Dataframe with data (row,col) : (293, 8).
Concat frame 3. Dataframe with data (row,col) : (604, 8).
Concat frame 4. Dataframe with data (row,col) : (886, 8).
Concat frame 5. Dataframe with data (row,col) : (1269, 8).
Concat frame 6. Dataframe with data (row,col) : (1576, 8).
Concat frame 7. Dataframe with data (row,col) : (1908, 8).
Concat frame 8. Dataframe with data (row,col) : (1908, 8).
Concat frame 9. Dataframe with data (row,col) : (1908, 8).
Concat frame 10. Dataframe with data (row,col) : (2286, 8).
Concat frame 11. Dataframe with data (row,col) : (2619, 8).
Concat frame 12. Dataframe with data (row,col) : (2882, 8).
Concat frame 13. Dataframe with data (row,col) : (3198, 8).
Concat frame 14. Dataframe with data (row,col) : (3549, 8).
Concat frame 15. Dataframe with data (row,col) : (3549, 8).
Concat frame 16. Dataframe with data (row,col) : (3549, 8).
Concat frame 17. Dataframe with data (row,col) : (3942, 8).
Concat frame 18. Dataframe with data (row,col) : (4268, 8).
Concat frame 19. Dataframe with data (row,col) : (4630, 8).
Concat frame 20. Dataframe with data (row,col) : (4982, 8).
Concat frame 21. Dataframe with data (row,col) : (4982, 8).
Concat frame 22. Dataframe with data (row,col) : (4982, 8).
Concat frame 23. Dataframe with data (row,col) : (4982, 8).
Concat frame 24. Dataframe with data (row,col) : (5229, 8).
Concat frame 25. Dataframe with data (row,col) : (5466, 8).
Concat frame 26. Dataframe with data (row,col) : (5717, 8).
Concat frame 27. Dataframe with data (row,col) : (5988, 8).
Concat frame 28. Dataframe with data (row,col) : (6323, 8).
Concat frame 29. Dataframe with data (row,col) : (6323, 8).
Concat frame 30. Dataframe with data (row,col) : (6323, 8).
Concat frame 31. Dataframe with data (row,col) : (6629, 8).
Concat frame 32. Dataframe with data (row,col) : (6868, 8).
Concat frame 33. Dataframe with data (row,col) : (7136, 8).
Concat frame 34. Dataframe with data (row,col) : (7457, 8).
Concat frame 35. Dataframe with data (row,col) : (7457, 8).
Concat frame 36. Dataframe with data (row,col) : (7457, 8).
Concat frame 37. Dataframe with data (row,col) : (7457, 8).
Concat frame 38. Dataframe with data (row,col) : (7610, 8).
Concat frame 39. Dataframe with data (row,col) : (7761, 8).
Concat frame 40. Dataframe with data (row,col) : (7887, 8).
Concat frame 41. Dataframe with data (row,col) : (8078, 8).
Concat frame 42. Dataframe with data (row,col) : (8254, 8).
Concat frame 43. Dataframe with data (row,col) : (8254, 8).
Concat frame 44. Dataframe with data (row,col) : (8254, 8).
Concat frame 45. Dataframe with data (row,col) : (8463, 8).
Concat frame 46. Dataframe with data (row,col) : (8638, 8).
Concat frame 47. Dataframe with data (row,col) : (8817, 8).
Concat frame 48. Dataframe with data (row,col) : (9008, 8).
Concat frame 49. Dataframe with data (row,col) : (9220, 8).
Concat frame 50. Dataframe with data (row,col) : (9220, 8).
Concat frame 51. Dataframe with data (row,col) : (9220, 8).
Concat frame 52. Dataframe with data (row,col) : (9400, 8).
Concat frame 53. Dataframe with data (row,col) : (9548, 8).
Concat frame 54. Dataframe with data (row,col) : (9709, 8).
Concat frame 55. Dataframe with data (row,col) : (9853, 8).
Concat frame 56. Dataframe with data (row,col) : (10030, 8).
Concat frame 57. Dataframe with data (row,col) : (10030, 8).
Concat frame 58. Dataframe with data (row,col) : (10030, 8).
Concat frame 59. Dataframe with data (row,col) : (10162, 8).
Concat frame 60. Dataframe with data (row,col) : (10291, 8).
Concat frame 61. Dataframe with data (row,col) : (10406, 8).
Concat frame 62. Dataframe with data (row,col) : (10568, 8).
Concat frame 63. Dataframe with data (row,col) : (10772, 8).
Concat frame 64. Dataframe with data (row,col) : (10772, 8).
Concat frame 65. Dataframe with data (row,col) : (10772, 8).
Concat frame 66. Dataframe with data (row,col) : (10934, 8).
Concat frame 67. Dataframe with data (row,col) : (11074, 8).
Concat frame 68. Dataframe with data (row,col) : (11245, 8).
Concat frame 69. Dataframe with data (row,col) : (11432, 8).
Concat frame 70. Dataframe with data (row,col) : (11644, 8).
Concat frame 71. Dataframe with data (row,col) : (11644, 8).
Concat frame 72. Dataframe with data (row,col) : (11644, 8).
Concat frame 73. Dataframe with data (row,col) : (11818, 8).
Concat frame 74. Dataframe with data (row,col) : (12015, 8).
Concat frame 75. Dataframe with data (row,col) : (12201, 8).
Concat frame 76. Dataframe with data (row,col) : (12371, 8).
Concat frame 77. Dataframe with data (row,col) : (12546, 8).
Concat frame 78. Dataframe with data (row,col) : (12546, 8).
Concat frame 79. Dataframe with data (row,col) : (12546, 8).
Concat frame 80. Dataframe with data (row,col) : (12706, 8).
Concat frame 81. Dataframe with data (row,col) : (12870, 8).
Concat frame 82. Dataframe with data (row,col) : (13021, 8).
Concat frame 83. Dataframe with data (row,col) : (13021, 8).
Concat frame 84. Dataframe with data (row,col) : (13210, 8).
Concat frame 85. Dataframe with data (row,col) : (13210, 8).
Concat frame 86. Dataframe with data (row,col) : (13210, 8).
Concat frame 87. Dataframe with data (row,col) : (13401, 8).
Concat frame 88. Dataframe with data (row,col) : (13401, 8).
Concat frame 89. Dataframe with data (row,col) : (13401, 8).

 79%|████████████████████████████████████████████████████████████████▉                 | 19/24 [04:16<01:03, 12.63s/it]

Len list of df 19
['retrieving figi: BBG00NNQMD85 ticker: AKNX']
Concat frame 0. Dataframe with data (row,col) : (119, 8).
Concat frame 1. Dataframe with data (row,col) : (119, 8).
Concat frame 2. Dataframe with data (row,col) : (119, 8).
Concat frame 3. Dataframe with data (row,col) : (252, 8).
Concat frame 4. Dataframe with data (row,col) : (375, 8).
Concat frame 5. Dataframe with data (row,col) : (577, 8).
Concat frame 6. Dataframe with data (row,col) : (753, 8).
Concat frame 7. Dataframe with data (row,col) : (911, 8).
Concat frame 8. Dataframe with data (row,col) : (911, 8).
Concat frame 9. Dataframe with data (row,col) : (911, 8).
Concat frame 10. Dataframe with data (row,col) : (1112, 8).
Concat frame 11. Dataframe with data (row,col) : (1254, 8).
Concat frame 12. Dataframe with data (row,col) : (1388, 8).
Concat frame 13. Dataframe with data (row,col) : (1550, 8).
Concat frame 14. Dataframe with data (row,col) : (1728, 8).
Concat frame 15. Dataframe with data (row,col) : (1728, 8).
Concat frame 16. Dataframe with data (row,col) : (1728, 8).
Concat frame 17. Dataframe with data (row,col) : (1928, 8).
Concat frame 18. Dataframe with data (row,col) : (2144, 8).
Concat frame 19. Dataframe with data (row,col) : (2297, 8).
Concat frame 20. Dataframe with data (row,col) : (2537, 8).
Concat frame 21. Dataframe with data (row,col) : (2537, 8).
Concat frame 22. Dataframe with data (row,col) : (2537, 8).
Concat frame 23. Dataframe with data (row,col) : (2537, 8).
Concat frame 24. Dataframe with data (row,col) : (2721, 8).
Concat frame 25. Dataframe with data (row,col) : (2841, 8).
Concat frame 26. Dataframe with data (row,col) : (3005, 8).
Concat frame 27. Dataframe with data (row,col) : (3219, 8).
Concat frame 28. Dataframe with data (row,col) : (3453, 8).
Concat frame 29. Dataframe with data (row,col) : (3453, 8).
Concat frame 30. Dataframe with data (row,col) : (3453, 8).
Concat frame 31. Dataframe with data (row,col) : (3733, 8).
Concat frame 32. Dataframe with data (row,col) : (3950, 8).
Concat frame 33. Dataframe with data (row,col) : (4223, 8).
Concat frame 34. Dataframe with data (row,col) : (4567, 8).
Concat frame 35. Dataframe with data (row,col) : (4567, 8).
Concat frame 36. Dataframe with data (row,col) : (4567, 8).
Concat frame 37. Dataframe with data (row,col) : (4567, 8).
Concat frame 38. Dataframe with data (row,col) : (4772, 8).
Concat frame 39. Dataframe with data (row,col) : (4961, 8).
Concat frame 40. Dataframe with data (row,col) : (5143, 8).
Concat frame 41. Dataframe with data (row,col) : (5379, 8).
Concat frame 42. Dataframe with data (row,col) : (5567, 8).
Concat frame 43. Dataframe with data (row,col) : (5567, 8).
Concat frame 44. Dataframe with data (row,col) : (5567, 8).
Concat frame 45. Dataframe with data (row,col) : (5789, 8).
Concat frame 46. Dataframe with data (row,col) : (5955, 8).
Concat frame 47. Dataframe with data (row,col) : (6120, 8).
Concat frame 48. Dataframe with data (row,col) : (6330, 8).
Concat frame 49. Dataframe with data (row,col) : (6522, 8).
Concat frame 50. Dataframe with data (row,col) : (6522, 8).
Concat frame 51. Dataframe with data (row,col) : (6522, 8).
Concat frame 52. Dataframe with data (row,col) : (6704, 8).
Concat frame 53. Dataframe with data (row,col) : (6879, 8).
Concat frame 54. Dataframe with data (row,col) : (7097, 8).
Concat frame 55. Dataframe with data (row,col) : (7274, 8).
Concat frame 56. Dataframe with data (row,col) : (7445, 8).
Concat frame 57. Dataframe with data (row,col) : (7445, 8).
Concat frame 58. Dataframe with data (row,col) : (7445, 8).
Concat frame 59. Dataframe with data (row,col) : (7597, 8).
Concat frame 60. Dataframe with data (row,col) : (7726, 8).
Concat frame 61. Dataframe with data (row,col) : (7898, 8).
Concat frame 62. Dataframe with data (row,col) : (8086, 8).
Concat frame 63. Dataframe with data (row,col) : (8334, 8).
Concat frame 64. Dataframe with data (row,col) : (8334, 8).
Concat frame 65. Dataframe with data (row,col) : (8334, 8).
Concat frame 66. Dataframe with data (row,col) : (8539, 8).
Concat frame 67. Dataframe with data (row,col) : (8696, 8).
Concat frame 68. Dataframe with data (row,col) : (8895, 8).
Concat frame 69. Dataframe with data (row,col) : (9073, 8).
Concat frame 70. Dataframe with data (row,col) : (9256, 8).
Concat frame 71. Dataframe with data (row,col) : (9256, 8).
Concat frame 72. Dataframe with data (row,col) : (9256, 8).
Concat frame 73. Dataframe with data (row,col) : (9450, 8).
Concat frame 74. Dataframe with data (row,col) : (9601, 8).
Concat frame 75. Dataframe with data (row,col) : (9792, 8).
Concat frame 76. Dataframe with data (row,col) : (9993, 8).
Concat frame 77. Dataframe with data (row,col) : (10186, 8).
Concat frame 78. Dataframe with data (row,col) : (10186, 8).
Concat frame 79. Dataframe with data (row,col) : (10186, 8).
Concat frame 80. Dataframe with data (row,col) : (10380, 8).
Concat frame 81. Dataframe with data (row,col) : (10544, 8).
Concat frame 82. Dataframe with data (row,col) : (10684, 8).
Concat frame 83. Dataframe with data (row,col) : (10684, 8).
Concat frame 84. Dataframe with data (row,col) : (10825, 8).
Concat frame 85. Dataframe with data (row,col) : (10825, 8).
Concat frame 86. Dataframe with data (row,col) : (10825, 8).
Concat frame 87. Dataframe with data (row,col) : (10988, 8).
Concat frame 88. Dataframe with data (row,col) : (10988, 8).
Concat frame 89. Dataframe with data (row,col) : (10988, 8).

 83%|████████████████████████████████████████████████████████████████████▎             | 20/24 [04:27<00:48, 12.15s/it]

Len list of df 20
['retrieving figi: BBG005HLTYH9 ticker: FXIT']
Concat frame 0. Dataframe with data (row,col) : (420, 8).
Concat frame 1. Dataframe with data (row,col) : (420, 8).
Concat frame 2. Dataframe with data (row,col) : (420, 8).
Concat frame 3. Dataframe with data (row,col) : (820, 8).
Concat frame 4. Dataframe with data (row,col) : (1229, 8).
Concat frame 5. Dataframe with data (row,col) : (1681, 8).
Concat frame 6. Dataframe with data (row,col) : (2094, 8).
Concat frame 7. Dataframe with data (row,col) : (2524, 8).
Concat frame 8. Dataframe with data (row,col) : (2524, 8).
Concat frame 9. Dataframe with data (row,col) : (2524, 8).
Concat frame 10. Dataframe with data (row,col) : (2990, 8).
Concat frame 11. Dataframe with data (row,col) : (3400, 8).
Concat frame 12. Dataframe with data (row,col) : (3798, 8).
Concat frame 13. Dataframe with data (row,col) : (4198, 8).
Concat frame 14. Dataframe with data (row,col) : (4669, 8).
Concat frame 15. Dataframe with data (row,col) : (4669, 8).
Concat frame 16. Dataframe with data (row,col) : (4669, 8).
Concat frame 17. Dataframe with data (row,col) : (5132, 8).
Concat frame 18. Dataframe with data (row,col) : (5621, 8).
Concat frame 19. Dataframe with data (row,col) : (6054, 8).
Concat frame 20. Dataframe with data (row,col) : (6544, 8).
Concat frame 21. Dataframe with data (row,col) : (6544, 8).
Concat frame 22. Dataframe with data (row,col) : (6544, 8).
Concat frame 23. Dataframe with data (row,col) : (6544, 8).
Concat frame 24. Dataframe with data (row,col) : (6991, 8).
Concat frame 25. Dataframe with data (row,col) : (7392, 8).
Concat frame 26. Dataframe with data (row,col) : (7797, 8).
Concat frame 27. Dataframe with data (row,col) : (8275, 8).
Concat frame 28. Dataframe with data (row,col) : (8775, 8).
Concat frame 29. Dataframe with data (row,col) : (8775, 8).
Concat frame 30. Dataframe with data (row,col) : (8775, 8).
Concat frame 31. Dataframe with data (row,col) : (9275, 8).
Concat frame 32. Dataframe with data (row,col) : (9758, 8).
Concat frame 33. Dataframe with data (row,col) : (10269, 8).
Concat frame 34. Dataframe with data (row,col) : (10771, 8).
Concat frame 35. Dataframe with data (row,col) : (10771, 8).
Concat frame 36. Dataframe with data (row,col) : (10771, 8).
Concat frame 37. Dataframe with data (row,col) : (10771, 8).
Concat frame 38. Dataframe with data (row,col) : (11228, 8).
Concat frame 39. Dataframe with data (row,col) : (11682, 8).
Concat frame 40. Dataframe with data (row,col) : (12084, 8).
Concat frame 41. Dataframe with data (row,col) : (12518, 8).
Concat frame 42. Dataframe with data (row,col) : (12939, 8).
Concat frame 43. Dataframe with data (row,col) : (12939, 8).
Concat frame 44. Dataframe with data (row,col) : (12939, 8).
Concat frame 45. Dataframe with data (row,col) : (13390, 8).
Concat frame 46. Dataframe with data (row,col) : (13807, 8).
Concat frame 47. Dataframe with data (row,col) : (14259, 8).
Concat frame 48. Dataframe with data (row,col) : (14737, 8).
Concat frame 49. Dataframe with data (row,col) : (15198, 8).
Concat frame 50. Dataframe with data (row,col) : (15198, 8).
Concat frame 51. Dataframe with data (row,col) : (15198, 8).
Concat frame 52. Dataframe with data (row,col) : (15663, 8).
Concat frame 53. Dataframe with data (row,col) : (16090, 8).
Concat frame 54. Dataframe with data (row,col) : (16537, 8).
Concat frame 55. Dataframe with data (row,col) : (16920, 8).
Concat frame 56. Dataframe with data (row,col) : (17343, 8).
Concat frame 57. Dataframe with data (row,col) : (17343, 8).
Concat frame 58. Dataframe with data (row,col) : (17343, 8).
Concat frame 59. Dataframe with data (row,col) : (17754, 8).
Concat frame 60. Dataframe with data (row,col) : (18122, 8).
Concat frame 61. Dataframe with data (row,col) : (18465, 8).
Concat frame 62. Dataframe with data (row,col) : (18829, 8).
Concat frame 63. Dataframe with data (row,col) : (19280, 8).
Concat frame 64. Dataframe with data (row,col) : (19280, 8).
Concat frame 65. Dataframe with data (row,col) : (19280, 8).
Concat frame 66. Dataframe with data (row,col) : (19643, 8).
Concat frame 67. Dataframe with data (row,col) : (20014, 8).
Concat frame 68. Dataframe with data (row,col) : (20444, 8).
Concat frame 69. Dataframe with data (row,col) : (20837, 8).
Concat frame 70. Dataframe with data (row,col) : (21243, 8).
Concat frame 71. Dataframe with data (row,col) : (21243, 8).
Concat frame 72. Dataframe with data (row,col) : (21243, 8).
Concat frame 73. Dataframe with data (row,col) : (21656, 8).
Concat frame 74. Dataframe with data (row,col) : (22025, 8).
Concat frame 75. Dataframe with data (row,col) : (22405, 8).
Concat frame 76. Dataframe with data (row,col) : (22809, 8).
Concat frame 77. Dataframe with data (row,col) : (23217, 8).
Concat frame 78. Dataframe with data (row,col) : (23217, 8).
Concat frame 79. Dataframe with data (row,col) : (23217, 8).
Concat frame 80. Dataframe with data (row,col) : (23620, 8).
Concat frame 81. Dataframe with data (row,col) : (23982, 8).
Concat frame 82. Dataframe with data (row,col) : (24309, 8).
Concat frame 83. Dataframe with data (row,col) : (24309, 8).
Concat frame 84. Dataframe with data (row,col) : (24669, 8).
Concat frame 85. Dataframe with data (row,col) : (24669, 8).
Concat frame 86. Dataframe with data (row,col) : (24669, 8).
Concat frame 87. Dataframe with data (row,col) : (25031, 8).
Concat frame 88. Dataframe with data (row,col) : (25031, 8).
Concat frame 89. Dataframe with data (row,col) : (25031, 8).

 88%|███████████████████████████████████████████████████████████████████████▊          | 21/24 [04:42<00:39, 13.01s/it]

Len list of df 21
['retrieving figi: BBG005HM6BL7 ticker: FXAU']
Concat frame 0. Dataframe with data (row,col) : (0, 0).
Concat frame 1. Dataframe with data (row,col) : (0, 0).
Concat frame 2. Dataframe with data (row,col) : (0, 0).
Concat frame 3. Dataframe with data (row,col) : (0, 0).
Concat frame 4. Dataframe with data (row,col) : (0, 0).
Concat frame 5. Dataframe with data (row,col) : (0, 0).
Concat frame 6. Dataframe with data (row,col) : (0, 0).
Concat frame 7. Dataframe with data (row,col) : (0, 0).
Concat frame 8. Dataframe with data (row,col) : (0, 0).
Concat frame 9. Dataframe with data (row,col) : (0, 0).
Concat frame 10. Dataframe with data (row,col) : (0, 0).
Concat frame 11. Dataframe with data (row,col) : (0, 0).
Concat frame 12. Dataframe with data (row,col) : (0, 0).
Concat frame 13. Dataframe with data (row,col) : (0, 0).
Concat frame 14. Dataframe with data (row,col) : (0, 0).
Concat frame 15. Dataframe with data (row,col) : (0, 0).
Concat frame 16. Dataframe with data (row,col) : (0, 0).
Concat frame 17. Dataframe with data (row,col) : (0, 0).
Concat frame 18. Dataframe with data (row,col) : (0, 0).
Concat frame 19. Dataframe with data (row,col) : (0, 0).
Concat frame 20. Dataframe with data (row,col) : (0, 0).
Concat frame 21. Dataframe with data (row,col) : (0, 0).
Concat frame 22. Dataframe with data (row,col) : (0, 0).
Concat frame 23. Dataframe with data (row,col) : (0, 0).
Concat frame 24. Dataframe with data (row,col) : (0, 0).
Concat frame 25. Dataframe with data (row,col) : (0, 0).
Concat frame 26. Dataframe with data (row,col) : (0, 0).
Concat frame 27. Dataframe with data (row,col) : (0, 0).
Concat frame 28. Dataframe with data (row,col) : (0, 0).
Concat frame 29. Dataframe with data (row,col) : (0, 0).
Concat frame 30. Dataframe with data (row,col) : (0, 0).
Concat frame 31. Dataframe with data (row,col) : (0, 0).
Concat frame 32. Dataframe with data (row,col) : (0, 0).
Concat frame 33. Dataframe with data (row,col) : (0, 0).
Concat frame 34. Dataframe with data (row,col) : (0, 0).
Concat frame 35. Dataframe with data (row,col) : (0, 0).
Concat frame 36. Dataframe with data (row,col) : (0, 0).
Concat frame 37. Dataframe with data (row,col) : (0, 0).
Concat frame 38. Dataframe with data (row,col) : (0, 0).
Concat frame 39. Dataframe with data (row,col) : (0, 0).
Concat frame 40. Dataframe with data (row,col) : (0, 0).
Concat frame 41. Dataframe with data (row,col) : (0, 0).
Concat frame 42. Dataframe with data (row,col) : (0, 0).
Concat frame 43. Dataframe with data (row,col) : (0, 0).
Concat frame 44. Dataframe with data (row,col) : (0, 0).
Concat frame 45. Dataframe with data (row,col) : (294, 8).
Concat frame 46. Dataframe with data (row,col) : (429, 8).
Concat frame 47. Dataframe with data (row,col) : (624, 8).
Concat frame 48. Dataframe with data (row,col) : (748, 8).
Concat frame 49. Dataframe with data (row,col) : (867, 8).
Concat frame 50. Dataframe with data (row,col) : (867, 8).
Concat frame 51. Dataframe with data (row,col) : (867, 8).
Concat frame 52. Dataframe with data (row,col) : (979, 8).
Concat frame 53. Dataframe with data (row,col) : (1120, 8).
Concat frame 54. Dataframe with data (row,col) : (1219, 8).
Concat frame 55. Dataframe with data (row,col) : (1319, 8).
Concat frame 56. Dataframe with data (row,col) : (1415, 8).
Concat frame 57. Dataframe with data (row,col) : (1415, 8).
Concat frame 58. Dataframe with data (row,col) : (1415, 8).
Concat frame 59. Dataframe with data (row,col) : (1486, 8).
Concat frame 60. Dataframe with data (row,col) : (1578, 8).
Concat frame 61. Dataframe with data (row,col) : (1671, 8).
Concat frame 62. Dataframe with data (row,col) : (1783, 8).
Concat frame 63. Dataframe with data (row,col) : (1929, 8).
Concat frame 64. Dataframe with data (row,col) : (1929, 8).
Concat frame 65. Dataframe with data (row,col) : (1929, 8).
Concat frame 66. Dataframe with data (row,col) : (2047, 8).
Concat frame 67. Dataframe with data (row,col) : (2186, 8).
Concat frame 68. Dataframe with data (row,col) : (2363, 8).
Concat frame 69. Dataframe with data (row,col) : (2632, 8).
Concat frame 70. Dataframe with data (row,col) : (2875, 8).
Concat frame 71. Dataframe with data (row,col) : (2875, 8).
Concat frame 72. Dataframe with data (row,col) : (2875, 8).
Concat frame 73. Dataframe with data (row,col) : (3206, 8).
Concat frame 74. Dataframe with data (row,col) : (3398, 8).
Concat frame 75. Dataframe with data (row,col) : (3499, 8).
Concat frame 76. Dataframe with data (row,col) : (3634, 8).
Concat frame 77. Dataframe with data (row,col) : (3744, 8).
Concat frame 78. Dataframe with data (row,col) : (3744, 8).
Concat frame 79. Dataframe with data (row,col) : (3744, 8).
Concat frame 80. Dataframe with data (row,col) : (3863, 8).
Concat frame 81. Dataframe with data (row,col) : (3982, 8).
Concat frame 82. Dataframe with data (row,col) : (4096, 8).
Concat frame 83. Dataframe with data (row,col) : (4096, 8).
Concat frame 84. Dataframe with data (row,col) : (4207, 8).
Concat frame 85. Dataframe with data (row,col) : (4207, 8).
Concat frame 86. Dataframe with data (row,col) : (4207, 8).
Concat frame 87. Dataframe with data (row,col) : (4413, 8).
Concat frame 88. Dataframe with data (row,col) : (4413, 8).
Concat frame 89. Dataframe with data (row,col) : (4413, 8).

 92%|███████████████████████████████████████████████████████████████████████████▏      | 22/24 [04:52<00:24, 12.19s/it]

Len list of df 22
['retrieving figi: BBG00NRFC2X2 ticker: FXTB']
Concat frame 0. Dataframe with data (row,col) : (427, 8).
Concat frame 1. Dataframe with data (row,col) : (427, 8).
Concat frame 2. Dataframe with data (row,col) : (427, 8).
Concat frame 3. Dataframe with data (row,col) : (873, 8).
Concat frame 4. Dataframe with data (row,col) : (1253, 8).
Concat frame 5. Dataframe with data (row,col) : (1713, 8).
Concat frame 6. Dataframe with data (row,col) : (2140, 8).
Concat frame 7. Dataframe with data (row,col) : (2569, 8).
Concat frame 8. Dataframe with data (row,col) : (2569, 8).
Concat frame 9. Dataframe with data (row,col) : (2569, 8).
Concat frame 10. Dataframe with data (row,col) : (3038, 8).
Concat frame 11. Dataframe with data (row,col) : (3505, 8).
Concat frame 12. Dataframe with data (row,col) : (4005, 8).
Concat frame 13. Dataframe with data (row,col) : (4433, 8).
Concat frame 14. Dataframe with data (row,col) : (4918, 8).
Concat frame 15. Dataframe with data (row,col) : (4918, 8).
Concat frame 16. Dataframe with data (row,col) : (4918, 8).
Concat frame 17. Dataframe with data (row,col) : (5363, 8).
Concat frame 18. Dataframe with data (row,col) : (5874, 8).
Concat frame 19. Dataframe with data (row,col) : (6300, 8).
Concat frame 20. Dataframe with data (row,col) : (6758, 8).
Concat frame 21. Dataframe with data (row,col) : (6758, 8).
Concat frame 22. Dataframe with data (row,col) : (6758, 8).
Concat frame 23. Dataframe with data (row,col) : (6758, 8).
Concat frame 24. Dataframe with data (row,col) : (7187, 8).
Concat frame 25. Dataframe with data (row,col) : (7501, 8).
Concat frame 26. Dataframe with data (row,col) : (7788, 8).
Concat frame 27. Dataframe with data (row,col) : (8118, 8).
Concat frame 28. Dataframe with data (row,col) : (8527, 8).
Concat frame 29. Dataframe with data (row,col) : (8527, 8).
Concat frame 30. Dataframe with data (row,col) : (8527, 8).
Concat frame 31. Dataframe with data (row,col) : (8996, 8).
Concat frame 32. Dataframe with data (row,col) : (9369, 8).
Concat frame 33. Dataframe with data (row,col) : (9729, 8).
Concat frame 34. Dataframe with data (row,col) : (10103, 8).
Concat frame 35. Dataframe with data (row,col) : (10103, 8).
Concat frame 36. Dataframe with data (row,col) : (10103, 8).
Concat frame 37. Dataframe with data (row,col) : (10103, 8).
Concat frame 38. Dataframe with data (row,col) : (10404, 8).
Concat frame 39. Dataframe with data (row,col) : (10658, 8).
Concat frame 40. Dataframe with data (row,col) : (10881, 8).
Concat frame 41. Dataframe with data (row,col) : (11162, 8).
Concat frame 42. Dataframe with data (row,col) : (11422, 8).
Concat frame 43. Dataframe with data (row,col) : (11422, 8).
Concat frame 44. Dataframe with data (row,col) : (11422, 8).
Concat frame 45. Dataframe with data (row,col) : (11648, 8).
Concat frame 46. Dataframe with data (row,col) : (11859, 8).
Concat frame 47. Dataframe with data (row,col) : (12135, 8).
Concat frame 48. Dataframe with data (row,col) : (12439, 8).
Concat frame 49. Dataframe with data (row,col) : (12729, 8).
Concat frame 50. Dataframe with data (row,col) : (12729, 8).
Concat frame 51. Dataframe with data (row,col) : (12729, 8).
Concat frame 52. Dataframe with data (row,col) : (13032, 8).
Concat frame 53. Dataframe with data (row,col) : (13286, 8).
Concat frame 54. Dataframe with data (row,col) : (13587, 8).
Concat frame 55. Dataframe with data (row,col) : (13942, 8).
Concat frame 56. Dataframe with data (row,col) : (14247, 8).
Concat frame 57. Dataframe with data (row,col) : (14247, 8).
Concat frame 58. Dataframe with data (row,col) : (14247, 8).
Concat frame 59. Dataframe with data (row,col) : (14562, 8).
Concat frame 60. Dataframe with data (row,col) : (14821, 8).
Concat frame 61. Dataframe with data (row,col) : (15073, 8).
Concat frame 62. Dataframe with data (row,col) : (15365, 8).
Concat frame 63. Dataframe with data (row,col) : (15721, 8).
Concat frame 64. Dataframe with data (row,col) : (15721, 8).
Concat frame 65. Dataframe with data (row,col) : (15721, 8).
Concat frame 66. Dataframe with data (row,col) : (15944, 8).
Concat frame 67. Dataframe with data (row,col) : (16214, 8).
Concat frame 68. Dataframe with data (row,col) : (16491, 8).
Concat frame 69. Dataframe with data (row,col) : (16826, 8).
Concat frame 70. Dataframe with data (row,col) : (17133, 8).
Concat frame 71. Dataframe with data (row,col) : (17133, 8).
Concat frame 72. Dataframe with data (row,col) : (17133, 8).
Concat frame 73. Dataframe with data (row,col) : (17427, 8).
Concat frame 74. Dataframe with data (row,col) : (17721, 8).
Concat frame 75. Dataframe with data (row,col) : (18077, 8).
Concat frame 76. Dataframe with data (row,col) : (18426, 8).
Concat frame 77. Dataframe with data (row,col) : (18768, 8).
Concat frame 78. Dataframe with data (row,col) : (18768, 8).
Concat frame 79. Dataframe with data (row,col) : (18768, 8).
Concat frame 80. Dataframe with data (row,col) : (19073, 8).
Concat frame 81. Dataframe with data (row,col) : (19420, 8).
Concat frame 82. Dataframe with data (row,col) : (19724, 8).
Concat frame 83. Dataframe with data (row,col) : (19724, 8).
Concat frame 84. Dataframe with data (row,col) : (20019, 8).
Concat frame 85. Dataframe with data (row,col) : (20019, 8).
Concat frame 86. Dataframe with data (row,col) : (20019, 8).
Concat frame 87. Dataframe with data (row,col) : (20315, 8).
Concat frame 88. Dataframe with data (row,col) : (20315, 8).
Concat frame 89. Dataframe with data (row,col) : (20315, 8).

 96%|██████████████████████████████████████████████████████████████████████████████▌   | 23/24 [05:07<00:12, 12.96s/it]

Len list of df 23
['retrieving figi: BBG005HLK5V5 ticker: FXUK']
Concat frame 0. Dataframe with data (row,col) : (0, 0).
Concat frame 1. Dataframe with data (row,col) : (0, 0).
Concat frame 2. Dataframe with data (row,col) : (0, 0).
Concat frame 3. Dataframe with data (row,col) : (0, 0).
Concat frame 4. Dataframe with data (row,col) : (0, 0).
Concat frame 5. Dataframe with data (row,col) : (0, 0).
Concat frame 6. Dataframe with data (row,col) : (0, 0).
Concat frame 7. Dataframe with data (row,col) : (0, 0).
Concat frame 8. Dataframe with data (row,col) : (0, 0).
Concat frame 9. Dataframe with data (row,col) : (0, 0).
Concat frame 10. Dataframe with data (row,col) : (0, 0).
Concat frame 11. Dataframe with data (row,col) : (0, 0).
Concat frame 12. Dataframe with data (row,col) : (0, 0).
Concat frame 13. Dataframe with data (row,col) : (0, 0).
Concat frame 14. Dataframe with data (row,col) : (0, 0).
Concat frame 15. Dataframe with data (row,col) : (0, 0).
Concat frame 16. Dataframe with data (row,col) : (0, 0).
Concat frame 17. Dataframe with data (row,col) : (0, 0).
Concat frame 18. Dataframe with data (row,col) : (0, 0).
Concat frame 19. Dataframe with data (row,col) : (0, 0).
Concat frame 20. Dataframe with data (row,col) : (0, 0).
Concat frame 21. Dataframe with data (row,col) : (0, 0).
Concat frame 22. Dataframe with data (row,col) : (0, 0).
Concat frame 23. Dataframe with data (row,col) : (0, 0).
Concat frame 24. Dataframe with data (row,col) : (0, 0).
Concat frame 25. Dataframe with data (row,col) : (0, 0).
Concat frame 26. Dataframe with data (row,col) : (0, 0).
Concat frame 27. Dataframe with data (row,col) : (0, 0).
Concat frame 28. Dataframe with data (row,col) : (0, 0).
Concat frame 29. Dataframe with data (row,col) : (0, 0).
Concat frame 30. Dataframe with data (row,col) : (0, 0).
Concat frame 31. Dataframe with data (row,col) : (0, 0).
Concat frame 32. Dataframe with data (row,col) : (0, 0).
Concat frame 33. Dataframe with data (row,col) : (0, 0).
Concat frame 34. Dataframe with data (row,col) : (0, 0).
Concat frame 35. Dataframe with data (row,col) : (0, 0).
Concat frame 36. Dataframe with data (row,col) : (0, 0).
Concat frame 37. Dataframe with data (row,col) : (0, 0).
Concat frame 38. Dataframe with data (row,col) : (0, 0).
Concat frame 39. Dataframe with data (row,col) : (0, 0).
Concat frame 40. Dataframe with data (row,col) : (0, 0).
Concat frame 41. Dataframe with data (row,col) : (0, 0).
Concat frame 42. Dataframe with data (row,col) : (0, 0).
Concat frame 43. Dataframe with data (row,col) : (0, 0).
Concat frame 44. Dataframe with data (row,col) : (0, 0).
Concat frame 45. Dataframe with data (row,col) : (301, 8).
Concat frame 46. Dataframe with data (row,col) : (453, 8).
Concat frame 47. Dataframe with data (row,col) : (632, 8).
Concat frame 48. Dataframe with data (row,col) : (768, 8).
Concat frame 49. Dataframe with data (row,col) : (917, 8).
Concat frame 50. Dataframe with data (row,col) : (917, 8).
Concat frame 51. Dataframe with data (row,col) : (917, 8).
Concat frame 52. Dataframe with data (row,col) : (1053, 8).
Concat frame 53. Dataframe with data (row,col) : (1184, 8).
Concat frame 54. Dataframe with data (row,col) : (1276, 8).
Concat frame 55. Dataframe with data (row,col) : (1388, 8).
Concat frame 56. Dataframe with data (row,col) : (1500, 8).
Concat frame 57. Dataframe with data (row,col) : (1500, 8).
Concat frame 58. Dataframe with data (row,col) : (1500, 8).
Concat frame 59. Dataframe with data (row,col) : (1599, 8).
Concat frame 60. Dataframe with data (row,col) : (1715, 8).
Concat frame 61. Dataframe with data (row,col) : (1806, 8).
Concat frame 62. Dataframe with data (row,col) : (1900, 8).
Concat frame 63. Dataframe with data (row,col) : (2048, 8).
Concat frame 64. Dataframe with data (row,col) : (2048, 8).
Concat frame 65. Dataframe with data (row,col) : (2048, 8).
Concat frame 66. Dataframe with data (row,col) : (2199, 8).
Concat frame 67. Dataframe with data (row,col) : (2362, 8).
Concat frame 68. Dataframe with data (row,col) : (2579, 8).
Concat frame 69. Dataframe with data (row,col) : (2844, 8).
Concat frame 70. Dataframe with data (row,col) : (3091, 8).
Concat frame 71. Dataframe with data (row,col) : (3091, 8).
Concat frame 72. Dataframe with data (row,col) : (3091, 8).
Concat frame 73. Dataframe with data (row,col) : (3414, 8).
Concat frame 74. Dataframe with data (row,col) : (3613, 8).
Concat frame 75. Dataframe with data (row,col) : (3765, 8).
Concat frame 76. Dataframe with data (row,col) : (3946, 8).
Concat frame 77. Dataframe with data (row,col) : (4226, 8).
Concat frame 78. Dataframe with data (row,col) : (4226, 8).
Concat frame 79. Dataframe with data (row,col) : (4226, 8).
Concat frame 80. Dataframe with data (row,col) : (4329, 8).
Concat frame 81. Dataframe with data (row,col) : (4441, 8).
Concat frame 82. Dataframe with data (row,col) : (4540, 8).
Concat frame 83. Dataframe with data (row,col) : (4540, 8).
Concat frame 84. Dataframe with data (row,col) : (4617, 8).
Concat frame 85. Dataframe with data (row,col) : (4617, 8).
Concat frame 86. Dataframe with data (row,col) : (4617, 8).
Concat frame 87. Dataframe with data (row,col) : (4738, 8).
Concat frame 88. Dataframe with data (row,col) : (4738, 8).
Concat frame 89. Dataframe with data (row,col) : (4738, 8).

100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [05:17<00:00, 13.22s/it]

Len list of df 24

In [41]:
etf_data.shape

(422051, 8)

In [ ]:
bonds_data=get_detailed_data(bond,_from=startTime,to=endTime)

In [ ]:
def set_balance():
    balance_set = client.sandbox.sandbox_currencies_balance_post({"currency": "USD", "balance": 10000})
    print("balance")
    print(balance_set)
    print()


def print_24hr_operations():
    now = datetime.now(tz=timezone('Europe/Moscow'))
    yesterday = now - timedelta(days=1)
    ops = client.operations.operations_get(_from=yesterday.isoformat(), to=now.isoformat())
    print("operations")
    print(ops)
    print()


def print_orders():
    orders = client.orders.orders_get()
    print("active orders")
    print(orders)
    print()


def make_order():
    order_response = client.orders.orders_limit_order_post(figi='BBG009S39JX6',
                                                           limit_order_request={"lots": 1,
                                                                                "operation": "Buy",
                                                                                "price": 0.01})
    print("make order")
    print(order_response)
    print()
    return order_response


# won't work in sandbox - orders are being instantly executed
def cancel_order(order_id):
    cancellation_result = client.orders.orders_cancel_post(order_id=order_id)
    print("cancel order")
    print(cancellation_result)
    print()


set_balance()
print_24hr_operations()
print_orders()
order_response = make_order()
print_orders()
# cancel_order(order_response.payload.order_id)
# print_orders()