In [1]:
from clickhouse_driver import Client

In [7]:
client = Client('localhost', 
                user='sergey', 
                password='280752', 
                secure=True, 
                verify=False, 
                database='default',
                compression=False)

In [15]:
client = Client('localhost',
               #user='default', 
                password='280752', )

In [16]:
result = client.execute('SELECT now(), version()')
print("RESULT: {0}: {1}".format(type(result), result))
for t in result:
    print(" ROW: {0}: {1}".format(type(t), t))
    for v in t:
        print("  COLUMN: {0}: {1}".format(type(v), v))

RESULT: <class 'list'>: [(datetime.datetime(2020, 3, 31, 7, 36, 38), '20.3.5.21')]
 ROW: <class 'tuple'>: (datetime.datetime(2020, 3, 31, 7, 36, 38), '20.3.5.21')
  COLUMN: <class 'datetime.datetime'>: 2020-03-31 07:36:38
  COLUMN: <class 'str'>: 20.3.5.21

In [45]:
r1 = client.execute('DROP TABLE IF EXISTS iris')
print(r1)
r2 = client.execute('CREATE TABLE iris ('
                    'sepal_length Float64, sepal_width Float64, '
                    'petal_length Float64, petal_width Float64, '
                    'species String) ENGINE = Log ')
                    #' PARTITION BY species ORDER BY (species)')
print(r2)

[]
[]

In [53]:
r1 = client.execute('DROP TABLE IF EXISTS tmp')
print(r1)
r2 = client.execute('CREATE TABLE tmp ('
                    'figi String, '
                    'interval String, o Float64, '
                    'c Float64, h Float64, '
                    'l Float64, v Int64, '
                    'time DateTime, ticker String, '
                    'isin String, min_price_increment Float64,'
                    'lot Int64, currency String,'
                    'name String, type String) ENGINE = Log ')
                    #' PARTITION BY species ORDER BY (species)')
print(r2)

[]
[]

In [52]:
client.execute("INSERT INTO tmp VALUES", [tuple(x) for x in df.values])
client.execute("SELECT count(*) FROM iris")

NameError: name 'df' is not defined